[2016-02-16 06:50] 2Cubed opened #2 "Implement Logger"
https://docs.python.org/3/library/logging.html
https://docs.python.org/3/howto/logging.html

[2016-02-16 07:33] Innectic commented on #2
Oops thought you could put multiple people to it.

[2016-02-17 22:38] Innectic commented on #2
Taken care of in this commit: [https://github.com/CactusBot/CactusBot/commit/3d6345c5f3de6cbde996386d46a7842fa6ba1ce0](url)

[2016-02-17 22:38] #2 closed

[2016-02-20 06:34] Innectic opened #3 "print_cactus doesn't print letters properly"
print_cactus seems to like to put lots of things on the same line.

`      ,`""',
      ;' ` ;
      ;`,',;
      ;' ` ;
 ,,,  ;`,',;
;,` ; ;' ` ;   ,',
;`,'; ;`,',;  ;,' ;        ------ /------\  ------ --------  |       |    -----
;',`; ;` ' ; ;`'`';        |      |      |  |         |      |       |   ;` '',''` `,',`',;         |      |      |  |         |      |       |    ---- `''`'; ', ;`'`'

[2016-02-20 06:35] Innectic commented on #3
That also didn't like the things from the log... Here's a better one :)

http://pastebin.com/Tjp7KEAJ

[2016-02-24 22:42] Innectic commented on #3
Was solved by @RPiAwesomeness

[2016-02-24 22:42] #3 closed

[2016-02-27 20:07] RPiAwesomeness opened #4 "Command to change stream title/about"
This is something I planned on adding for PyBot and would be soooooo useful.

[2016-02-27 21:57] 2Cubed commented on #4
Love it. Mod-only, though, of course.

[2016-02-27 22:50] RPiAwesomeness commented on #4
Obviously

[2016-03-08 08:51] #4 closed

[2016-09-23 05:14] 2Cubed opened #43 "Custom packet format"
We need a packet format, with support for:

- raw text
- emotes
- usernames

[2016-09-23 05:19] 2Cubed opened #44 "Handler system"
A class for all handlers to inherit from. Uses `on_` methods for event handling.

[2016-09-23 05:24] 2Cubed opened #45 "Handler handler"
A handler to handle handlers. General example:
[code]
![image](https://cloud.githubusercontent.com/assets/12002323/18774946/0851a4d0-812c-11e6-8cbe-a2da5a474beb.png)

[2016-09-23 05:25] Innectic commented on #45
That image, though.. lol

[2016-09-23 05:44] 2Cubed opened #46 "Command handler"
Move existing command handling to a custom `Handler`.
- [x] Magic Commands
- [x] Custom Commands

[2016-09-23 05:47] 2Cubed opened #47 "Spam handler"
Rewrite of v0.3's spam handling, put into a `Handler`.

- [x] URL Detection
- [x] Capitalization Detection
- [x] Emote Detection
- [x] Length Detection

# Features:

## URL Detection
We can use Beam's `url` `type`. It's generated using an advanced NodeJS library, with the sole purpose of recognizing links. Should catch everything.

It might also be cool to add toggling of specific domains - for ex

[2016-09-23 14:36] Innectic commented on #47
(Except I'll make it not crap this time)

[2016-09-23 20:13] 2Cubed commented on #47
@Innectic Sounds great! Just edited the original message, including much more detail. There's a checklist at the top - check things off as they're finished? :smile:

[2016-09-23 20:28] 2Cubed commented on #46
I think we should move as many custom commands as possible to the API, leaving only the essentials (`!help` only?) in the bot itself. It makes no sense for some commands to be part of the bot, and others part of the API. It would also allow for hotswapping, so that new builtins could be added via the API without the need for a full CactusBot update.

[2016-09-30 05:31] Innectic commented on #47
This was finished on the `feature/handler` branch.

[2016-09-30 05:33] Innectic commented on #44
This was finished on the `feature/handlers` branch.

[2016-09-30 05:40] 2Cubed commented on #47
Reopening, until everything is merged. (We should pull request the change into `develop` and merge, referencing the pullreq in the close message here afterwards.)

[2016-09-30 05:41] 2Cubed commented on #47
Reopening, until everything is merged. (We should pull request the change into develop and merge, referencing the pullreq in the close message here afterwards.)

[2016-09-30 05:42] 2Cubed commented on #47
Current state of packet parsing:
[code]

Still need to:
- [ ] Remove `json.loads` (the packet isn't a JSON string)
- [ ] Fix `exceeds_caps`
- [ ] Figure out return values (`True` and `False` aren't descriptive of what needs to happen)

[2016-09-30 05:45] 2Cubed commented on #44
[Currently empty](https://github.com/CactusDev/CactusBot/blob/143370cb2cc0a833ea89b99a98d42e501b7ab02d/cactusbot/handler.py#L25). Need to add content, which will be possible once #43 is complete.

[2016-09-30 05:53] 2Cubed opened #48 "Logging handler"
Simple handler that logs packets to different debug levels.

- Simplified text (`Hello! :)`) to `INFO`
- Full packet to `DEBUG`

[2016-09-30 05:55] 2Cubed opened #49 "Beam parser"
`BeamParser` will parse incoming data from Beam to a standard packet format (#43).

[2016-09-30 16:58] Innectic commented on #47
@2Cubed Maybe we could return an object with the `action` attribute and check?

IE:

[code]
`action` could also be `ban`, `purge`, or anything like that

[2016-09-30 17:10] RPiAwesomeness commented on #47
Maybe make it return a function or coroutine? My other thought was maybe we should have the spam system check if the words are actual words vs random letters.

"ASDADASFDSLhjldfsLKSDOFIJ!O!!" - obviously spam, no actual words
"WOW! SUB HYPE! Super excited for the rest of this STREEEEEAAAAMM!" - less likely to be spam

[2016-09-30 17:23] Innectic commented on #47
@RPiAwesomeness Hmm, not sure if we can really check between those two

[2016-09-30 17:41] Innectic commented on #47
Fixed the json thing

[2016-09-30 17:48] Innectic commented on #47
Fixed the capital checker

[2016-09-30 18:41] Innectic commented on #48
What's the packet format, though? When I'm loggin the "basic" version, do I need to `join` the basic components (`link`, `emote`, `text`), or can I use something like `packet["message"]`?

[2016-09-30 20:11] 2Cubed commented on #48
@Innectic It should be `''.join(chunk["text"] for chunk in packet)`.

[2016-09-30 20:20] 2Cubed commented on #47
@Innectic Hmm, not a bad idea! Maybe something like this?

[code]

It might get a bit bulky at times, but it could be perfect what we need. :smile:

[2016-09-30 20:24] 2Cubed commented on #47
@RPiAwesomeness Interesting idea. However, I don't think it's really feasible, especially considering the amount of work required just to get it to understand basic concepts.
- `SUB HYPE! WOOT!` contains no "real words" (except for `SUB`, arguably). It would be really hard to catch all of these.
- We have to consider things like `WOW YOU ARE SUCH A POTATO`, too. While all of those *are* real words

[2016-09-30 20:29] 2Cubed commented on #48
Hmm... `on_log`, interesting. I feel like logging should be catching all events, rather than just ones that are specifically sent as `log`s, however. That brings up an interesting point, though - maybe we should implement `on_anything` (possibly with a different name) that's a catchall for when the event isn't specified.

[code]

When there's a `message` event, it gets sent to `on_message`, but ot

[2016-09-30 20:43] Innectic commented on #47
@2Cubed I like that. :+1:

[2016-09-30 20:43] Innectic commented on #48
@2Cubed I tried getting a `join` to work, but nothing I tried worked. Putting it into and "extended for-loop" fixed it. Feel free to give it a shot

[2016-09-30 20:44] Innectic commented on #48
@2Cubed Hmm, that would work. I'll implement that real fast

[2016-10-01 02:43] 2Cubed commented on #43
For message packets specifically, I like the following format.
[code]

[2016-10-01 14:33] Innectic commented on #43
@2Cubed I like the format of that personally. However, what's the purpose of `data` AND `text` in link?

[2016-10-01 14:34] Innectic commented on #44
@2Cubed I thought you said nothing needed to be added as of now?

[2016-10-01 14:44] Innectic commented on #43
@2Cubed I just realized, that packet doesn't contain `user`. Where should that go?

[2016-10-01 15:17] 2Cubed commented on #43
@Innectic I think we should ensure that every chunk in the packet has `data` and `text` attributes. (This lets us do, for example, `''.join(chunk["text"] for chunk in packet)` without having to worry about `chunk` potentially not having the `text` key.

In the case of `link`s specifically, we don't want to use different text than exactly what the user sent. (`!command add google google.com`, `!goo

[2016-10-01 15:23] 2Cubed commented on #43
@Innectic That's only for part of the message packet. (I should have clarified.) The entire packet will have to be a bit more complex... something like the following, maybe?

[code]
(`"role": 50` is referencing a numerical role value. Here, I'm pretending it means `Mod` on Beam. This is so that we can, for example, use custom configurations to make Discord users with the `ExoZone` role also 50, gi

[2016-10-01 15:28] 2Cubed commented on #44
@Innectic Correct, but we shouldn't close the issue until we've actually added the things.

Something we should add, though, is a built-in logger.
[code]

[2016-10-01 15:32] Innectic commented on #44
I'll make that a thing real fast.

[2016-10-01 15:33] Innectic commented on #43
@2Cubed That packet format seems fine to me. I know that @RPiAwesomeness wants to do object-based packets.

[2016-10-01 15:37] Innectic commented on #44
@2Cubed Done in commit: [32d878aed050bdf502b9980f380370d1e620bbd6](https://github.com/CactusDev/CactusBot/commit/32d878aed050bdf502b9980f380370d1e620bbd6)

[2016-10-01 15:55] 2Cubed commented on #44
@Innectic Whoa, nice! Only complaint is this:
[code]

IMHO, we should keep the `LoggingHandler` (#48) and move those logging statements there.

[2016-10-01 15:57] Innectic commented on #44
@2Cubed I don't see any use to keeping the logging handler if `Handler` contains a logger. Maybe you can prove me wrong?

[2016-10-01 16:07] 2Cubed commented on #48
@Innectic [Continuing from](https://github.com/CactusDev/CactusBot/issues/44#issuecomment-250919923)

The logging handler is a low-level logger that just outputs what it reads. So, it would log `[Innectic] Hello!` and `{"user": "Innectic", "message": [{"type": "text", "text": "Hello!", "data": "Hello!"}]` to the console, on `INFO` and `DEBUG`, respectively.
The other handlers, though, can use thei

[2016-10-04 00:02] 2Cubed opened #51 "Unit tests"
We need unit tests.

[2016-10-04 00:02] 2Cubed commented on #51
My preference would be to use [pytest](http://doc.pytest.org/en/latest/).

[2016-10-04 01:59] 2Cubed commented on #43
Here's the current idea for a class-based approach.

## Packets
[code]

## Parser
[code]

## Handlers
[code]

[2016-10-04 15:25] RPiAwesomeness commented on #43
`__dict__` is already an attribute for class instances, it returns a dict of all the defined attributes (`self.foo = "bar"`, etc.). So, we would have to override that.

Also, `__dict__()` will have to defined under each packet, since individually the packets will have different structure and we may want to not include certain keys/attributes (possibly).

[2016-10-04 15:43] Innectic commented on #51
It'd be cool to add a command line arg to cb. `python3 run.py --test` or something similar

[2016-10-04 19:54] 2Cubed commented on #43
@RPiAwesomeness Oops, my mistake - meant `__iter__`. (See [this StackOverflow answer](http://stackoverflow.com/a/35282286/6119465).)

[2016-10-04 19:58] 2Cubed commented on #51
@Innectic Hmm... not sure. I think we should keep command-line arguments to bot features only (debug level, service toggling, etc.). The command that would be run is just `pytest`, though, so we could reconfigure Travis so install and run `pytest` on `master` and `develop` pull requests before merging. :smile:

[2016-10-04 20:45] kz5ee commented on #47
I would suggest using spaces to check for "words".  You can't realistically catch everything, however, finding spaces in a string reduces the likelihood of it being SPAM.

I would say that a phrase such as `WOW YOU ARE SUCH A POTATO` being SPAM is highly dependent on the context and is not as likely to be SPAM.  That said, if someone posts it 'n+1' times, then it is highly likely to be spam and po

[2016-10-04 20:56] 2Cubed commented on #47
@kz5ee Interesting idea. This would be really hard to implement with our current system, though - we'd have to account for previously-sent messages, and our handler system only (easily) handles one at a time. Definitely something to consider for the future, but currently, we have to focus on getting v0.4 out. :smile:

[2016-10-04 21:02] kz5ee commented on #47
Good thing we have chat moderators, eh?  It could be as simple as keeping the last message a user posted and if t seconds have passed it isn't considered SPAM anymore.

[2016-10-05 01:09] 2Cubed commented on #47
@kz5ee Hehe, yeah. Unfortunately, it wouldn't be very simple - "letting go" of messages after `t` seconds would actually be pretty complex.

[2016-10-05 02:31] kz5ee commented on #47
Simple as in mechanics, not necessarily in implementation.

[2016-10-05 02:39] 2Cubed commented on #47
@kz5ee Precisely.

[2016-10-06 18:37] pylang commented on #49
Maybe you want an abstract `BaseParser` that can be subclassed to different services `BeamParser`, `TwitchParser`, etc.

[2016-10-07 02:13] 2Cubed commented on #49
@pylang Yep, that's the plan! :smile:

[2016-10-07 07:36] 2Cubed commented on #47
Mostly complete, as of a2a3e6f5b43d018b3fac1c93efb681c291aa40b8.

Still need to
- decide on a standard role level map
- implement `TimeoutPacket`
- add whisper/DM attribute (in `**meta`?) to `MessagePacket`
- add support for multiple returned packets (#43)

[2016-10-07 07:38] 2Cubed commented on #49
Currently able to parse most messages, as of 4e19a317a4ba9802634d69e260bebe40ff9ceca7.

Need to decide on how to separate functions that parse incoming packets and outgoing packets, and how to name/call them (similar to `on_`?).

[2016-10-07 14:25] pylang commented on #49
You need to parse outgoing packets?

[2016-10-08 04:07] 2Cubed opened #53 "Configurable event responses"
Responses for events (follow, subscribe, host) are hardcoded, and therefore not configurable. This should not be the case.

[2016-10-08 04:16] 2Cubed opened #54 "Role level map"
We need a standard mapping which defines what numerical role levels mean, qualitatively. The scale for role levels is 0-100.

Should include:
- [x] Channel Owner
- [x] Service Staff
- [x] Global Moderator
- [x] Moderator
- [x] Channel Subscriber
- [x] Service Subscriber
- [x] Standard User
- [x] Banned User

[2016-10-08 04:17] 2Cubed commented on #54
Channel Owner should be `100`, Banned User should be `0`.

[2016-10-08 04:22] Innectic commented on #54
Standard: 1
Sub: 10
Mod: 50
Global 100
Staff 100

[2016-10-08 04:25] 2Cubed commented on #54
@Innectic Not sure I like Staff and Global Mod being `100`. You should be able to specify that you are the only one who can change something in the bot that even staff can't.

[2016-10-08 04:26] Innectic commented on #54
@2Cubed I don't see a reason staff shouldn't be able to.

[2016-10-08 04:33] 2Cubed commented on #54
@Innectic What about, for example, removing the bot from your channel? IMHO, that should be something only the owner should be able to do.

I think we should keep Staff/Global with high values, but not 100 - maybe, like, 95 and 90, respectively?

We should also keep gaps between these values, because on a service with custom roles especially, like Discord, you may want to put some roles between th

[2016-10-08 04:36] Innectic commented on #54
Hmm

[2016-10-08 04:38] 2Cubed opened #55 "Emoticon standard"
We need a standard for defining emoticons in `MessagePacket`s (#43).

---

For Unicode emoticons, we should follow [emoji-alpha-codes](https://github.com/Ranks/emoji-alpha-codes). So, :stuck_out_tongue: should be saved with the data `:stuck_out_tongue:`.

However, there are lots of emoticons which do not appear in Unicode. (For example, `:mappa`/`Kappa`.) What do we do in this case? Also, because

[2016-10-08 04:42] Innectic commented on #55
Well, since `:mappa` and `Kappa` are used to show sarcasm, maybe we just say `sarcasm` in the file?

[2016-10-08 04:48] 2Cubed commented on #55
@Innectic I agree. Currently, EAC's are being stored with the `::`s - I guess custom ones can be stored without.

However, the question still stands... where do we store our global list of custom codes? We need to specify somewhere what each custom code means, and keep track of every one we define so that we don't accidentally duplicate any and make the conversions not work.

[2016-10-08 07:35] Alkali-Metal commented on #54
Suggestion for the Discord version: Maybe have the role values be set via something like `!power set [Value]` which would then set the role "level" and I agree with @2Cubed where there are situations that you do not want staff/global mods to be able to do something, for the most part, they should be able to do everything, but there should still be limits to a degree.

[2016-10-08 14:16] 2Cubed commented on #54
@Alkali-Metal Allowing for role configuration would be difficult, just because of the way everything's written, but we could certainly give it a shot! :smile:

[2016-10-09 13:43] Innectic commented on #53
This was never a "bug", it was just a feature we never really implemented

[2016-10-09 14:05] 2Cubed commented on #53
@Innectic Fair enough. Didn't think `feature` really made sense, but in hindsight, I guess it makes more sense than `bug`.

[2016-10-09 16:34] 2Cubed commented on #47
Almost done!
- `BanPacket` implemented in a28ab0e43b2597a0ce3920d46d5331d6b8c03cec
- Targeted `MessagePackets` ("whispers") implemented in 8a0a25372ab465b5f026b0b34d933d4d9fe1f20b
- Multiple return `Packet` support implemented in 8ef5b15c62960fb9abc43c9b30550faa0c0d7227

Need to:
- [ ] Make maximums configurable, using the API (cc: @Innectic, @RPiAwesomeness)
- [ ] Decide on a standard role level

[2016-10-13 00:36] 2Cubed opened #57 "Command aliases"
Aliases for commands! Similar to Bash aliases.

[2016-10-13 00:40] 2Cubed commented on #57
Should work with built-in, magic, and custom commands.

Note: syntax currently unknown.
[code]

[2016-10-13 00:56] 2Cubed opened #58 "Default streamer commands"
We should auto-generate a set of commands which would be helpful to streamers.

(For example, `!raid`.)

Which commands would be helpful?

[2016-10-13 00:59] 2Cubed opened #59 "Config integration with CactusAPI and Sepal"
Class designed to load and dynamically update configuration values.

Initially loads all configuration values from the API, and dynamically updates via Sepal.

One instance can be passed around and used throughout the bot. This way, all code related to config can be written once, in an organized fashion.

[2016-10-13 01:04] MindlessPuppetz commented on #58
!raid
!so / !shoutout
!raided
!social

[2016-10-13 01:07] kz5ee commented on #58
!multi / !ms [_platform_][_target1_]...[_platform_][_targetN]

[2016-10-13 01:11] 2Cubed opened #60 "Service-specific commands and command behaviors"
Some commands should be specific to services. For example, a service may not offer an API endpoint that another service does.

Command behaviors may have to be customized for each service, as well. Continuing with the previous example, two services may have API endpoints for retrieving specific information, but the endpoints would be different. We would need different behaviors for each one.

[2016-10-13 01:12] 2Cubed commented on #58
@MindlessPuppetz
- `!raid` and `!raided` - definitely.
- `!shoutout` - definitely.

We currently have `!social`, which queries the Beam API. Since our command system is becoming service-agnostic, though, we will need service-specific behaviors (#60).

[2016-10-13 01:13] MindlessPuppetz commented on #58
My social links go beyond what beam provides... :P

[2016-10-13 01:16] 2Cubed commented on #58
@KZ5EE Good call. How would this work, though? Using [multistream.xyz](multistream.xyz)?

- Our command system is becoming service-agnostic, but we will need to know the specific service that the streamer is using (#60).
- What happens if the streamer is using a service that isn't supported by [multistream.xyz](multistream.xyz)?

[2016-10-13 01:25] kz5ee commented on #58
@2Cubed multistream.xyz would be a good default.

If the multistream service isn't default, it can be changed in the config file with the URL arguments
Streaming platforms / !ms tags could be configured in a config file

I'll give it some more thought and get back to you.

[2016-10-13 03:25] 2Cubed opened #61 "Magic command location"
Where should the code for magic commands reside?

- In the bot itself?
- Behind the [API](https://github.com/CactusDev/CactusAPI)?

[2016-10-13 03:27] 2Cubed commented on #43
Completed in ecf51a077603954ec5e14622ceffbd40970e8d01.

[2016-10-13 03:27] #43 closed

[2016-10-13 03:37] 2Cubed commented on #47
Closing this. We have #59 and #54 as separate issues. For all intensive purposes, the logic of the handler is done.

[2016-10-13 03:37] #47 closed

[2016-10-13 03:42] 2Cubed commented on #49
Finished in a44ce6b73a5db1765af53acccdc9cea8a7a2614a, aside from needing to update the roles with accurate values (#54).

[2016-10-13 03:42] #49 closed

[2016-10-13 03:45] Innectic commented on #61
I vote handling in the bot still.

[2016-10-13 03:58] 2Cubed commented on #61
I vote handling it through the API.

Custom commands are handled through the API, and `GET`ting `/command/custom` returns the response, and information about the command. However, if we keep builtin/magic commands in the bot itself, it seems to developers that these commands do not exist (according to the API), and it is impossible to get a response for them.

It won't make sense to users that the

[2016-10-13 05:57] 2Cubed opened #62 "Clean shutdown"
When sent a `KeyboardInterrupt`, the bot should gracefully close all websockets and display a shutdown message, rather than spewing out all sorts of `asyncio` error nonsense.

[2016-10-13 21:54] LauraDutra commented on #58
Agree with everyone on:
!raid
!shoutout or !so

!title and/or !game would be nice for mods to do transitions
!lurk is one that seems to be a standard action in most chats

[2016-10-14 00:01] Innectic commented on #58
@LauraDutra `!lurk` and `!welcome` / `!raiders` should be broadcaster specific. Making that a default would be silly since basically every single broadcast would want something special

[2016-10-14 00:02] Innectic commented on #62
#BlameAsyncio? More like #Blame2Cubed

[2016-10-14 01:44] 2Cubed commented on #58
@KZ5EE Thanks to suggestion by @artdude543, I think we should use http://multistream.me/. Very clean interface, easy to work with, and hosted by our partner, ExoZone! :smiley:

[2016-10-14 01:44] 2Cubed commented on #58
@KZ5EE Thanks to suggestion by @alfw, I think we should use http://multistream.me/. Very clean interface, easy to work with, and hosted by our partner, ExoZone! :smiley:

[2016-10-14 02:16] RPiAwesomeness commented on #61
My thinking is that the API should return some usage for builtins because, like you say @2Cubed, it's confusing to developers if the command works in-bot, but if they try and access the endpoint, then it doesn't work.

So, we compromise, and I think this solution works out for the better. The API shouldn't really be going out and getting and parsing information, just getting pre-parsed info from t

[2016-10-14 02:18] Innectic commented on #61
@RPiAwesomeness I think that a good idea. The api knows about it, but the bot doesn't request it. I think that's a good way to do it. I really didn't like the idea of having to request the response for a command who's response won't change.

[2016-10-14 02:58] 2Cubed commented on #61
@RPiAwesomeness Hmm... interesting.

While I agree that developers could be confused by the lack of API response, it's not just the humans that would be confused - the code is a big issue, too.

Consider a developer who is writing a simple web panel that is, essentially, a chat between the user and CactusBot. (You run a command, it responds - just like a service chat, but with CactusBot being the

[2016-10-14 04:30] 2Cubed commented on #45
Completed in d6d95bceaa8b62082a5043bd8bcfde480d4c91cc.

[2016-10-14 04:31] 2Cubed commented on #48
Completed in d6d95bceaa8b62082a5043bd8bcfde480d4c91cc.

[2016-10-14 04:31] #48 closed

[2016-10-14 04:31] 2Cubed commented on #45
Completed in 9e8581552787a64411edf30c3844fd133ef550d9.

[2016-10-14 04:31] #45 closed

[2016-10-14 06:25] 2Cubed commented on #44
What else might this need? [Currently, it's essentially an empty class](https://github.com/CactusDev/CactusBot/blob/a898e3aa812406fb3f751085b68e0ef5157124fd/cactusbot/handler.py#L49).

[2016-10-14 20:44] Innectic commented on #44
I'm not sure if anything is needed in there, at the moment.

[2016-10-14 23:50] 2Cubed commented on #44
@Innectic Yeah, me neither. I feel like there should be *something*, but... :thinking:

[2016-10-15 02:28] Innectic commented on #61
I still think what @RPiAwesomeness is the way to go

[2016-10-16 00:50] RPiAwesomeness commented on #61
First off, that's a SUUUUUPER unlikely application of the API. And I don't think I entirely understand your example. Are they using CB as the other user, as in the whole bot? Or are they just using the API? If they're just using the API, then they're literally just using us as a storage facility, which isn't a proper use of the API and shouldn't be something we allow.

If they wanted to use CB to

[2016-10-16 04:48] Innectic commented on #61
Here's what I've gathered from the +1's and the responses:

The api doesn't know about the built-in commands, and the bot still handles it, like it already does.
And, @RPiAwesomeness :
No one has asked me for an override for any of the built-ins. So, you're correct in saying that :D

[2016-10-16 04:55] 2Cubed commented on #61
@RPiAwesomeness

Hmm, good point. I guess that does make sense.

---

1. I mean... not quite. Requests and responses are "paired", so it would only be two, but... yeah.
2. Huh, I hadn't thought about the fact that `!social` needs to access external API's. Very good point.

---

We should be doing actual releases for the API, rather than just loading random versions onto the server. But I guess it'

[2016-10-16 05:19] Innectic commented on #61
I disagree with your proposal. Builtin command should *not* be overridable. Lets make a scenario:

I'm playing JerkyMcJerkFace.
[code]
We're basically allowing people to be mean. Yes, I understand not *everyone* is like that, but those people still exist. We need to keep that in mind. I wouldn't want to join a chat and see anything like that.

Ok, I'm Innectic again.

I see no reason that usage, o

[2016-10-16 05:29] 2Cubed commented on #61
@Innectic People can be "mean" in all sorts of ways. If they want to add custom commands that insult others, that's their own time wasted.

I'm playing BoatyMcBoatface, who happens to be a jerk.

[code]

Even if we disable the overriding of builtins, people can still accomplish the same thing in other ways.

OK, I'm 2Cubed again. :stuck_out_tongue:

- Usage would be good for things like command au

[2016-10-16 05:54] 2Cubed commented on #61
@Innectic and I came to an agreement internally:

We merge `!cactus`, `!test`, and `!help` into one *magic* command, to ensure that the bot always contains a link to our documentation and such.

We leave the option for generating defaults, for easter eggs, automatic aliasing (`!cactus docs` -> `!help`), etc.

@RPiAwesomeness: Thoughts?

[2016-10-16 07:12] 2Cubed commented on #54
Is it possible that we may not need a numerical scale, and that everything could be mapped to a specific set of *permissions*? Custom commands, for example, can currently be for Mod+, Sub+, or general use - would there be a case where people on a Discord server could only use a command if they were 72+, excluding role 71?

[2016-10-16 12:29] RPiAwesomeness commented on #61
@2Cubed I like that idea. Those were really the only major ones I could think of (aside from various easter-eggs, which are probably better in the API anyways, because of how often they may be changed). Those will be hard-programmed, only changing if necessary in a release? Otherwise, they get loaded from a local JSON file?

The biggest problem I see with overriding defaults is for `!cactus`/`!tes

[2016-10-16 14:29] 2Cubed commented on #61
@RPiAwesomeness Good point - malicious links *would* be bad. If we update our docs to show that `!cactus docs` is the way to get to the docs, though, instead of `!help`, I think we're fine.

[2016-10-16 15:08] Innectic commented on #61
So, are we all in agreement?

[2016-10-16 15:26] 2Cubed commented on #61
@Innectic @RPiAwesomeness If we can get three :+1: on this, we're set! :tada:

---

## Magic Commands
These stay as they were in my [proposal](https://github.com/CactusDev/CactusBot/issues/61#issuecomment-254027605). We keep them in the bot itself, but ensure the API can return sufficient information about them.

## Builtin Commands
These are removed, and replaced with **defaults** through the API

[2016-10-16 16:38] Innectic commented on #55
We already took care of this, didn't we?

[2016-10-16 17:30] 2Cubed commented on #55
@Innectic Not entirely. I'm OK with storing Unicode emojis with the EAC alphas and the non-Unicode ones with non-`::`s.

Where do we put the global list of non-Unicode emojis, though? We need a "table" of sorts that details every custom code we're using, and what it defines. (If we don't have this, it would be easy to forget that, say, `:mappa` is `sarcasm` and use `troll` for `Kappa`.) Would a gi

[2016-10-16 17:55] Innectic commented on #55
We have a json file in the base of the `beam` service that handles that. I thought that's what we were doing for everything?

[2016-10-16 18:20] 2Cubed commented on #55
@Innectic Yes, we need those. However, those are just mappings for each service. (`:cactus` -> `:cactus:`, `:)` -> `:smiley:`, `:mappa` -> `sarcasm`, etc.) We need a global file that explains what every custom code (like `sarcasm`) means, or at least lists them.

[code]

[2016-10-16 19:48] Innectic commented on #61
Closing this.

[2016-10-16 19:48] #61 closed

[2016-10-16 19:57] 2Cubed commented on #46
Thanks to #61, we have decided to remove builtins. Done in 58a3a092daa3d4d83cf78b9a348907e35610329f.

[2016-10-16 20:24] Innectic commented on #46
Custom commands have been completed, from what I've been told. Reopen this if I've heard wrong.

[2016-10-16 20:29] 2Cubed commented on #46
@Innectic Custom commands are not yet complete. They will be *easy* to complete, but we need the API to support them, first.

[2016-10-17 03:24] 2Cubed opened #64 "Discord support"
Support for Discord as a service.

[2016-10-17 05:05] Innectic opened #65 "Twitch Support"
Support for the Twitch platform.

TODO:

- [ ] Connecting to chat

- [ ] Reconnections (This is super annoying for some reason)

- [ ] Follow alerts

- [ ] Host alerts

- [ ] Sub alerts

- [ ] Find Twitch alpha testers

[2016-10-17 20:47] Innectic commented on #44
@2Cubed I think we could close this. (at least for now)

[2016-10-18 01:20] 2Cubed commented on #44
@Innectic Renamed to `Handler system`, because that's a much better description of what this issue is for.

[2016-10-18 06:48] 2Cubed opened #66 "MessagePacket support within magic commands"
Currently, magic commands are based entirely around raw strings, which defeats the purpose of the typed `MessagePackets` in some sense. Magic commands should be able to use `MessagePackets` for added functionalities. (Emoji detection, tag usage, etc.)

[2016-10-19 05:04] Innectic commented on #66
I thought they could return them already? I had some magic commands that did that, but, you changed them all to strings

[2016-10-19 05:14] 2Cubed commented on #66
@Innectic They *can* return them. (I changed most back to raw strings, though, because `MessagePacket(raw_str)` all over the place is messy - only necessary for, say, `action=True`, `target="user"`, etc.) They don't *receive* them, though.

For example, in the `!cube` command, we need to be able to detect which arguments are emojis. [Currently](https://github.com/CactusDev/CactusBot/blob/5abf27821

[2016-10-19 20:07] 2Cubed opened #67 "Edit packet"
Packet to be used when a the content of a message changes.

[2016-10-19 20:08] 2Cubed commented on #67
Could potentially work as a message removal packet, as well, if the new content is `None`. Or we might want a separate packet for this? Not sure.

[2016-10-19 20:09] 2Cubed commented on #67
@Innectic Removing `service:discord`, because this packet is not directly related to Discord and should be generalized. (It will be used with Discord, though, of course.)

[2016-10-20 02:19] RPiAwesomeness opened #68 "Auto updating between patch/minor releases"
Having the ability to have CactusBot receive notification of new releases (via GitHub webhooks or Sepal) and then having it download the new code seamlessly update itself would be very useful.

It would mainly be for patch releases, bug fixes and minor changes (example: x.x.0 -> x.x.1), but possibly for minor releases (x.2 -> x.3).

[2016-10-20 03:13] 2Cubed commented on #68
This would be really cool.

We would have to take into consideration things that can't just be `git pull`ed, too - for example, changing a config file from a `.json` to a `.py`, like in v0.3 to v0.4.
Maybe we could release a script which updates from one version to the next? (So, to update from v0.3.5 to v0.4, it would run v0.3.5 to v0.3.6, and then v0.3.6 to v0.4?) This would be really helpful ev

[2016-10-20 17:18] RPiAwesomeness commented on #68
@2Cubed Possibly, but it would preferable if this could be handled within the bot in a seamless manner, without requiring an external script.

[2016-10-20 20:20] 2Cubed commented on #68
@RPiAwesomeness True. Not sure of any other way to accomplish this, though. :thinking:

[2016-10-21 07:07] 2Cubed opened #69 "Statistic goals"
Chat announcements for when specific statistics are reached. For example, an announcement for when the streamer reaches 200 followers.

Goals should be customizable, and messages should be (optionally), too. We should have a basic algorithm for determining "goal-like numbers" - 10, 50, 100, 200, 500, 1000, etc.

[2016-10-21 07:23] 2Cubed opened #70 "Improved repeats"
- [ ] Minimum Chat Message Spacing
- [ ] Only While Stream is Live

[2016-10-21 07:46] pylang commented on #70
It 3 am.  Sleep.

[2016-10-22 05:52] 2Cubed commented on #64
In progress on [feature/discord](https://github.com/CactusDev/CactusBot/tree/feature/discord).

[2016-10-22 05:57] 2Cubed commented on #67
There's no need for a removal packet, actually - a `MessagePacket` passed on the `remove` event is sufficient.

[2016-10-22 05:57] 2Cubed commented on #67
`EditPacket` implemented in 1ebb26fd53443916ba8328450d32f77bab2a2d6f.

[2016-10-22 05:57] #67 closed

[2016-10-25 02:15] 2Cubed opened #71 "Discord service errors if response length too long"
The maximum length for Discord messages is 2,000 characters. If the response is too long, the bot should split up the message and send individually.

[2016-10-25 20:07] 2Cubed opened #72 "Targeted responses to custom commands"
Custom-added commands could respond to the user who ran the command through a targeted message (whisper/DM).

[2016-10-25 20:11] 2Cubed opened #73 "Twitter service"
While it's not extremely useful to have a bot that runs commands accessible through Twitter, it would be really cool to be able to use the handler system for other purposes. Cross-service actions could occur, as well, including Tweeting via a command or on specific events and thanking users in chat for Tweeting.

[2016-10-31 01:47] Innectic opened #75 "Improved targets"
We've always had basic targets like `%ARGS%`, but it would  be super cool to expand upon this using "angularish" _filters_. Example: convert the args to upper using: `%ARGS | upper%`

[2016-10-31 01:51] 2Cubed commented on #75
We should also add defaults to `%ARGN%` targets!

[code]

[2016-10-31 01:55] Innectic commented on #75
Sounds good to me!

[2016-10-31 07:06] TransportLayer opened #76 "Minecraft support"
# Minecraft support (feature request)
Adding Minecraft support to CactusBot would allow for more platform diversity, and could allow for statuses/roles to be synchronized and messages to be sent across all services.

## Summary (_via plugin_)
Using a plugin would be the preferred option. This would allow for more direct access to the server and its events/messages. As most streamers running Minecr

[2016-10-31 23:36] 2Cubed opened #80 "Slack support"
Slack service! Allows the bot to run in Slack.

[2016-10-31 23:48] 2Cubed commented on #80
Not sure if this is something we would want; however, it is definitely something we can consider including.

[2016-11-02 08:03] 2Cubed commented on #44
Completed on `feature/handlers` branch, merged in #81.

[2016-11-02 08:03] #44 closed

[2016-11-02 11:03] 2Cubed commented on #66
We could potentially use another special kwarg-only argument, `raw`, to contain the raw `MessagePacket`.

[2016-11-03 00:00] Innectic commented on #72
I began this on https://github.com/CactusDev/CactusBot/tree/feature/whispered-commands

[2016-11-03 00:43] 2Cubed opened #83 "Packet specification"
Documentation explaining the `Packet` system.

[2016-11-03 01:00] 2Cubed opened #84 "Handler specification"
Documentation explaining the `Handler` system.

[2016-11-03 01:10] 2Cubed opened #85 "Service specification"
Documentation explaining the service system.

[2016-11-03 01:11] 2Cubed opened #86 "Magic command specification"
Documentation explaining the magic `Command` system.

[2016-11-03 05:06] 2Cubed commented on #51
Started on `feature/unit-tests`. :tada:

[2016-11-03 06:16] pylang commented on #51
command would be `py.test` I think.

[2016-11-03 06:46] 2Cubed commented on #51
@pylang They're apparently both valid commands, and upon inspecting the source, they do exactly the same thing. According to their docs, it's `pytest`, so I guess I'll stick with that? /shrug

[2016-11-03 06:52] pylang commented on #51
Thank goodness.  I think `py.test` is intuitive.  Thanks.

[2016-11-03 06:53] 2Cubed opened #88 "Move Beam connection to external package"
Should we move the Beam connection (`BeamAPI`, `BeamChat`, `BeamConstellation`) to an external package?

[2016-11-03 07:02] pylang commented on #51
A suggestion for DRYer tests (and less typing), use a common `verify` function or method that calls repetitive code from source, example:

[code]

[2016-11-03 07:14] pylang commented on #88
Aren't these a "service", or has that design changed?

[2016-11-03 07:19] 2Cubed commented on #51
@pylang Ooh... very good call.

[2016-11-03 07:22] 2Cubed commented on #88
@pylang We're still going to be using our current service model. However, we could definitely move the code that handles the actual Beam connection *out* of the bot and into a separate Beam client package, and then just use that in CactusBot.

An example of this exact concept can be seen in our [discord](https://github.com/CactusDev/CactusBot/tree/9ca63df3f7110ef2f94cd0a9bd9dc1b23119a412/cactusbot

[2016-11-03 07:43] 2Cubed opened #89 "Scheduled actions"
Can run a command or send a message after a certain period of time, or on a certain date.

[code]

Syntax currently unknown.

[2016-11-03 08:26] pylang commented on #88
So with this idea, would some services have external packages and others wouldn't?  Example, would twitch need a package?

[2016-11-03 11:38] 2Cubed commented on #88
@pylang I'm thinking that we should keep all client packages out of the bot itself. In addition to the fact that it's much cleaner implementation-wise, this would allow others to use our code to create their own custom bots andclients.

[2016-11-03 22:30] pylang commented on #88
Makes a ton of sense to me.

[2016-11-05 03:45] 2Cubed opened #91 "Custom social services"
Streamers have requested the ability to add custom services for `!social`. For example:

[code]

This makes sense, because we want to become service-agnostic, and our `!social` system currently depends on Beam.

[2016-11-05 03:53] 2Cubed commented on #88
@pylang Hmm... hadn't thought of that. I think the best course of action for adding Hitbox would be for us to create a generalized client package, `CactusDev/hitbox.py`, and then using that to add the service.

[2016-11-05 05:22] pylang commented on #88
That's a idea.  So `hitbox.py` would be a different project in the GitHub organization.  Jupyter has this kind of setup for their extensions.  Something to think about:

- How would these "service packages" integrate with the core CB?   Would they be pip installable by the user, or batteries included when CB is installed (e.g. `run.py` fires up Beam, HitBox, Discord integration)?

[2016-11-05 06:21] 2Cubed commented on #88
@pylang Each service would still need a `Handler` (`BeamHandler`, `DiscordHandler`, etc.), which are (currently) provided in `config.py`.
[code]

I believe `pip` has a way of installing different "parts" of the project:
[code]

We could use this to our advantage, along with some command-line arguments, to make the installation process really clean.

[2016-11-05 17:21] 2Cubed opened #93 "Recursive command system"
Commands are currently separated into main commands and subcommands. This makes implementations for main commands without subcommands (`!cactus`) difficult and ugly.

Using a "recursive" system, embedding commands inside of other commands, we could allow for theoretically infinite subcommands in magic commands, while making defaults cleaner, as well.

[2016-11-05 17:24] Innectic opened #94 "Uptime command doesn't support days"
Our current uptime command only counts in hours and minutes. We should make this support days / weeks

[2016-11-05 17:25] #94 closed

[2016-11-06 04:42] 2Cubed commented on #75
The entire target system should be generalized, so that defaults, modifiers, etc. work on non-`%ARG%` targets. (`%USER|upper%`, etc.)

[2016-11-09 21:24] MysticalMage commented on #76
I have some experience with Minecraft (Spigot) plugins, if this would work it would have to be two separate programs, the plugin and the main bit. Since plugins are written in Java there may be more problems with the integration, but I could give it a shot.

[2016-11-13 10:08] 2Cubed commented on #64
Implemented in daae4c5ba40fde7400e8b812c6c662d737daa42c and 81313d5a85b211814afd97665b73c4986f7fb956.

[2016-11-13 10:09] 2Cubed commented on #64
Only thing missing is translation from Unicode to EAC format. However, is this something we want, or should we make Unicode our standard (#55)?

[2016-11-13 10:14] 2Cubed commented on #55
Should we use Unicode as our default instead of Emoji Alpha Codes? This would simplify the translation for services like Discord and make cross-service displaying look (arguably) better overall.

[2016-11-13 19:23] Innectic commented on #55
@2Cubed Beam chat doesn't support it and neither does twitch. That means only one planned platform can support it

[2016-11-13 19:39] 2Cubed commented on #75
Success! :tada:

[2016-11-13 19:39] #75 closed

[2016-11-13 20:12] 2Cubed commented on #55
@Innectic Unicode is the universal standard. We're going to be translating to and from it - we need not worry about what services support it natively. (And even if we were worrying about that, Unicode emoji render *as actual emoji* on Beam and Twitch, whereas `:stuck_out_tongue:` won't.)

[2016-11-13 20:28] 2Cubed opened #95 "Improvements to !command"
- [x] updating the count
- [x] enabling/disabling

[2016-11-13 21:20] Innectic commented on #55
That's the point of the annoying file called `emoji.json`. Converting emotes.

[2016-11-13 21:44] 2Cubed commented on #55
@Innectic Yes. The question is, should `:)` be translated to `:smile:`, or to `🙂`? This decision would only be seen if we don't have a translation for a specific emoji, but we should pick a good standard nonetheless.

I think we should use Unicode when it's a Unicode emote (`🙂`), but EAC format when it's a custom emote (`:sarcasm:`, `:python:`, etc.).

[2016-11-14 21:27] 2Cubed commented on #46
Works on `feature/custom-commands`. However, currently only stores text, not JSON packet.

[2016-11-24 07:02] 2Cubed commented on #72
Done and merged into `develop`. :tada:
https://github.com/CactusDev/CactusBot/blob/dfce4f42ba737eef64c76de7dd0aa4e4b580a4a8/cactusbot/handlers/command.py#L39

[2016-11-24 07:02] #72 closed

[2016-11-24 07:40] 2Cubed commented on #46
[Done!](https://github.com/CactusDev/CactusBot/blob/3a8de02626f1a05ce0b74dfd470ed611845079d6/cactusbot/handlers/command.py#L64) :ok_hand:

[2016-11-24 07:40] #46 closed

[2016-11-26 05:56] AlphaBravoKilo opened #97 "Channel-wide command cooldown"
It would be nice to have a timer that will not allow non-friend users (or non-mod users) to use a command until X seconds later

Example:
[code]

Sorry if you don't like the format of this recommendation. :P

[2016-11-26 06:05] 2Cubed commented on #97
Great idea - we should definitely have this. :smile:

[2016-11-26 06:18] 2Cubed commented on #93
Done in 904cbd1cd765f787d3ccb672a68401ffa59f64a3.

[2016-11-26 06:18] #93 closed

[2016-11-26 06:47] Innectic commented on #97
We should have command-based cooldown instead, IMO

[2016-11-26 07:07] AlphaBravoKilo commented on #97
Well, this is something I noticed that came up in impulseSV's stream. I think both would be good, but I know for sure having a channel-wide version would be great in impulseSV's channel at least

[2016-11-26 07:08] AlphaBravoKilo commented on #97
now that i think about it... command-based would be better
idk, i am tired

[2016-11-26 07:56] 2Cubed commented on #66
[Done.](https://github.com/CactusDev/CactusBot/blob/c5ec43506c3304ee8364f3305fcac284cda2ed03/cactusbot/handlers/command.py#L42)

We can consider a purely packet-based command system in the future; for now, though, this is :ok_hand:.

[2016-11-26 07:56] #66 closed

[2016-11-26 08:05] 2Cubed opened #100 "Move MessagePacket components to namedtuple"
Replace `MessagePacket.message` values with `namedtuple`s, rather than `dict`s.

Minor change for syntactic sugar.

[code]

[2016-11-26 08:09] 2Cubed opened #101 "Bot responds to its own messages"
When the bot sends messages, its handlers receive them afterwards. This makes the bot vulnerable to cyclic command responses (`!a -> !b`, `!b -> !a`), responding to itself for "spamming" (`!cactus twitter`, `Please do not post links.`, etc.), and so on.

[2016-11-26 13:30] pylang commented on #101
@2Cubed Do message packets/json have something similar to an `author` key?  You could tell CB not to respond to `"self"` for example.

[2016-11-26 16:35] 2Cubed commented on #101
@pylang They do! However, it's possible that the `author` is not *exactly* the same as the `self` written in config. (For example, Discord config is just an authkey, `NxWYTOQxdrweuoyxEFIOWjxzYxFOY3jY`-ish, which means that we can't really match it against that. Rather, we'd need to use some data that Discord responds with upon connection.)
It's not *impossible* to fix, but until the larger things

[2016-11-26 16:59] pylang commented on #101
Well discerned good sir : )

[2016-11-29 04:09] 2Cubed opened #103 "Repeat integration with CactusAPI and Sepal"
Repeats must be stored in the API, and Sepal should distribute the events announcing that the message should be sent in chat.

[2016-12-10 16:41] 2Cubed opened #108 "Move caching to Redis"
Redis should be caching events (follow, join, leave, etc.), rather than in-bot JSON files.

[2016-12-10 20:56] 2Cubed opened #109 "Magic command role filtering"
Minimum magic command role requirements.

[code]

[2016-12-18 22:01] 2Cubed opened #110 "Hyphenated subcommands"
In v0.3-, adding `!x-y` could also be called as `!x y`. Should we implement this for v0.4+ (with the API), or remove the feature entirely?

[2016-12-18 22:17] Innectic commented on #59
Sepal side is done

[2016-12-23 15:47] QuirkySquid opened #112 "Add !giveaway"
(copied from [this PR](https://github.com/CactusDev/CactusBot/pull/41))

Giveaways in streams can be difficult when people are afk/don't want the item/are bots, so this command would streamline it to run the giveaway just once.

USAGE:
!giveaway start time ----- Starts the giveaway countdown for a certain time, defaults to 60
!giveaway join -------------------------- Join the giveaway while it is

[2016-12-23 15:52] 2Cubed commented on #112
I'd propose adding:
[code]

Also, I would love to see role filtering integrated... for example, subscriber-only giveaways, or giving bias to subscribers, or excluding moderators, or whatever.

[2016-12-23 15:55] MindlessPuppetz commented on #112
Also,  maybe a way to specify a custom keyword to join instead of them needing to run a command.
`!giveaway start <time> <keyword>`

So viewers could just type keyword in chat during the time limit to enter

[2016-12-23 15:56] 2Cubed opened #113 "Target packet component type"
Should `target` be a packet component type? Currently, it is just part of a `text` packet.

[code]

[2016-12-23 15:56] QuirkySquid commented on #112
@2Cubed Well running it instantly with all of chat is no different than the builtin /giveaway. !giveaway is specifically designed to fix some of the issues with it. The other stuff with roles could definitely be a thing though!

@MindlessPuppetz OOO YES! That's a really good idea, will definitely add that :D

[2016-12-23 15:58] 2Cubed commented on #112
@QuirkySquid Not all services (for example, Discord) have a built-in giveaway functionality, so it would be cool if we did. And the instant running could even be _combined_ with the roles sometimes, which Beam doesn't have - for example, I could run a giveaway that instantly picks a random subscriber.

[2016-12-23 16:00] QuirkySquid commented on #112
@2Cubed Oh right, we're multiplatform now XD

Alright, I think that something like `!giveaway instant (role)` would be good for that.

[2016-12-23 17:52] Innectic commented on #113
Is there any use case for this? I couldn't think of one

[2016-12-23 17:53] Innectic commented on #110
We should keep this feature, but make is more expandable.

[2016-12-23 17:56] 2Cubed commented on #113
@Innectic The one that initially comes to mind is on the dashboard, highlighting targets or something.

[2016-12-23 18:36] 2Cubed commented on #100
Done in #114.

[2016-12-23 18:36] #100 closed

[2016-12-23 23:10] Innectic commented on #53
#59 is done as of today.

[2016-12-24 02:59] 2Cubed commented on #59
@Innectic This isn't done... we should only close after the Sepal client (in Python) is done and we're able to live update config values from it.

[2016-12-24 03:02] 2Cubed commented on #113
Sweet - I'll implement this Soon™. :ok_hand:

[2016-12-24 08:04] Innectic commented on #108
Sepal?

[2016-12-24 08:07] 2Cubed commented on #59
Done in #115! :tada:

[2016-12-24 08:07] #103 closed

[2016-12-24 08:07] Innectic commented on #103
#115

[2016-12-24 08:08] Innectic commented on #59
Not yet it wasn't, silly cube! :P

[2016-12-24 08:12] 2Cubed commented on #59
@Innectic Sorry, wrong issue! >.>

[2016-12-24 20:50] Innectic commented on #108
Delayed to 0.5

[2016-12-25 09:31] Innectic commented on #53
This has been completed.

[2016-12-25 09:31] #53 closed

[2016-12-25 09:44] 2Cubed commented on #54
Potentially:
[code]

[2016-12-25 21:21] Innectic commented on #62
Taking a crack at this today. Wish me luck

[2016-12-26 19:44] #101 closed

[2016-12-26 19:44] Innectic commented on #101
Fixed: https://github.com/CactusDev/CactusBot/pull/122

[2016-12-26 21:02] 2Cubed commented on #83
Done in #123.

[2016-12-26 21:02] #83 closed

[2016-12-27 00:02] Innectic commented on #91
Done in https://github.com/CactusDev/CactusBot/pull/124

[2016-12-27 00:02] #91 closed

[2016-12-27 01:54] Innectic opened #126 "Announcements should be in MessagePacket format"
Currently in the api, a follow message is just a string. This should be converted to be in message packet format.

[2016-12-27 18:22] Innectic opened #128 "Aliases for specific roles"
The command `command` allows you to create commands for certain roles. IE: Subscribers, Mods. This should be implemented into the alias system as well.

[2016-12-27 20:48] #95 closed

[2016-12-27 20:48] Innectic commented on #95
Done in #129

[2016-12-28 07:21] #59 closed

[2016-12-28 07:55] Innectic commented on #57
Done in #130

[2016-12-28 07:55] #57 closed

[2016-12-28 09:03] 2Cubed opened #132 "Alias integration with repeats"
Rather than allowing arguments in repeats, we should use aliases.

[code]

This removes the ugliness of forcing users to remember the `repeatId` to remove.

[2016-12-28 23:53] 2Cubed commented on #109
Done in #134.

[2016-12-28 23:53] #109 closed

[2016-12-29 02:54] 2Cubed commented on #110
Done in #137. :tada:

[2016-12-29 02:54] #110 closed

[2016-12-29 04:56] 2Cubed commented on #55
Done in #139.

[2016-12-29 04:56] 2Cubed commented on #86
Done in #138.

[2016-12-29 04:56] #86 closed

[2016-12-29 04:57] 2Cubed commented on #54
Done in #138.

[2016-12-29 04:57] #54 closed

[2016-12-29 09:11] 2Cubed commented on #62
Much of the "spam" seems to be coming from not closing `ClientResponses` from the base `API` class. Need to look into this - if left running for long periods of time, it could become a serious memory hog.

[2016-12-29 21:40] Innectic opened #146 "Tag filter breaks if there are no arguments"
You can reproduce the error with:

[code]

[2016-12-29 21:41] Innectic opened #147 "Messages containing tags make the arguments contain the command name"
You can reproduce this error with:

[code]

[2016-12-29 21:52] Alkali-Metal opened #148 "Default Arguments for Variables"
When assigning a variable in a custom command there is a possibility of it not receiving anything from the user command and some command look weird when those variables are missing, so it would be cool if there was a way to make a default which replaced empty variables and it was assigned on a per command basis so that you could have different defaults for each command.

[code]

[2016-12-30 00:45] 2Cubed commented on #146
If a tagged command is whispered to the bot, it appears in public chat, rather than being whispered to the user. Weird!

[2016-12-30 02:25] 2Cubed opened #152 "Ignores "enabled" field"
While `!command enable` and `!command disable` change the `enable: ` key in the API, the bot never actually checks to see if a command is enabled or disabled before sending the response.

[2016-12-30 02:25] 2Cubed commented on #152
This will be much easier to fix after #132.

[2016-12-31 05:01] Innectic opened #155 "API key doesn't renew when it expires."
When the api token expires in the bot, it doesn't renew. The API returns an error that we could check to reauthenticate with the api.

[2016-12-31 05:45] AlphaBravoKilo opened #156 "Ability to create quote-like commands"
An example of what I was thinking about

Of course, implementation can (should?) be different.

[2016-12-31 06:00] 2Cubed commented on #156
I like it! Maybe use `!storage`, and similar syntaxes to `!quote`'s?

[code]

[2016-12-31 06:27] 2Cubed opened #157 "Command user level is not checked"
When checking to see if a command is valid, we have to make sure to also check if the user has the permissions to run the command via the `userLevel` key. (Currently, non-moderators can run `+potato` and such.)

[2017-01-02 12:57] 2Cubed opened #159 "Unified `Service` model"
The way we set up and organize `Service`s currently is based entirely on what the class contains, and we are making far too many assumptions about what the actual `Service` implementation looks like. We need an abstract class, containing the following.

 - [ ] Logger initialization
 - [ ] `handlers` initialization
 - [ ] `Service.run` required method

[2017-01-05 02:37] 2Cubed opened #162 "New !command options are not documented"
`enable`, `disable`, and `count`.

https://github.com/CactusDev/CactusBot/blob/a1864d458a9741e046916bb10419bc9687523e2e/cactusbot/commands/magic/command.py#L58

[2017-01-05 02:37] 2Cubed opened #163 "!alias is not documented"
https://github.com/CactusDev/CactusBot/blob/a1864d458a9741e046916bb10419bc9687523e2e/cactusbot/commands/magic/alias.py#L6

[2017-01-07 05:33] 2Cubed opened #164 "Custom command responses cannot be returned with targets"
When a command is `target`ed towards the bot, responses should be `target`ed back towards the user who sent it. This works for magic commands, but not for custom commands.

[2017-01-07 05:52] 2Cubed opened #166 "Aliases don't support hyphen exclusion in command names"
The following should work.
[code]

However, this does not currently work. The following is required.
[code]

This should change.

[2017-01-07 06:33] 2Cubed commented on #164
Completed in #167.

[2017-01-07 06:33] #164 closed

[2017-01-07 06:33] 2Cubed commented on #157
Completed in #167.

[2017-01-07 06:33] #157 closed

[2017-01-07 14:06] 2Cubed opened #169 "Move magic command unit tests to doctests"
Rather than putting tests for magic commands in the `tests/` directory, we should write complete docstrings for the class functions, including doctests.

[2017-01-07 16:53] 2Cubed opened #171 "Add `pylint` to Travis"
Ideally, all code should be `pylint`-acceptable. :ok_hand:

We should make sure this is true, and then add it as a Travis required check.

[2017-01-07 16:57] 2Cubed commented on #162
Done in #170.

[2017-01-07 16:57] #162 closed

[2017-01-07 16:57] 2Cubed commented on #163
Done in #170.

[2017-01-07 16:57] #163 closed

[2017-01-07 19:04] 2Cubed opened #172 "Setup guide"
We need a walkthrough that explains how one would go about setting up CactusBot.

We should include both the way to set it up using our instance of CactusAPI and Sepal *and* instructions for setting up your own local API/Sepal versions.

[2017-01-07 19:07] pylang commented on #172
Yes please.

[2017-01-07 21:10] 2Cubed commented on #171
Started on `fix/pylint`.

[2017-01-07 21:46] 2Cubed opened #173 "Join and leave notifications"
We already have notifications for follow, subscribe, and host. It should be fairly simple to add join and leave, as well. (**Off by default!**)

[2017-01-07 22:13] 2Cubed opened #174 "Add `streak` to `EventPacket`"
For things like resubscriptions.

[2017-01-07 22:32] Alkali-Metal opened #175 "Configurable Magic™ Command Permission Levels"
Have it so the built-in commands can have their user runnable level configured. So commands like `!command list` can be changed from mod only to user. I would think that this could just be attached into the `!config` command something similar to...

at least, this is how I would think it would work. With the `-` being necessary for subcommands like `!command list`, `!quote add`, etc.

[code]

[2017-01-08 01:43] 2Cubed commented on #175
This is a good idea.

We talked a while ago about wanting to put something in the API to signify that a command is existent, but magic (currently, `/user/:token/command/quote` `404`'s). If we could include a changeable `role` key in that response, it would be relatively simple to deal with this issue. cc: @RPiAwesomeness

[2017-01-08 16:51] 2Cubed opened #177 "Per-stream %COUNT%ers"
Resetting specific `%COUNT%` variables on the start of each stream.

[2017-01-08 17:25] Alkali-Metal opened #179 "Even Magic-er™ Handlers"
Currently with the Handler system, there is no way to make an addition to your bot without actually locally hosting it, I personally think some way to have a locally running handler interacting with your remotely hosted bot would be cool and would add more support for community developers, how I was thinking this could be implemented is something similar to, if not, the API and a magic-command for

[2017-01-08 17:29] 2Cubed commented on #179
Hmm... definitely an interesting idea.

Maybe we could implement this using Sepal and a new type of `Packet`? When a magic command runs, it can return this new packet, and a new `Handler` would send the response to Sepal, which can be read by a custom (authenticated) client?

[2017-01-08 17:33] Alkali-Metal commented on #179
So from what I am understanding of what you said it would require a magic command being run to initialize the packet then it would go to Sepal where the authenticated remote handler would be able to read it? Just checking to make sure that I am understanding everything correctly.

[2017-01-08 20:43] 2Cubed commented on #179
Yep! Here's a way to simplify the magic command aspect, actually

We could add a `!trigger` command. When you run `!trigger <name> [args...]`, the contents of what you wrote are sent to subscribing Sepal clients. So, `!trigger wither` would send a packet through Sepal, which a client would receive and spawn a Wither. And once we have magic aliasing, you could turn that into `!wither`, as well.

[2017-01-08 20:49] QueenOfChibiArt commented on #112
Hello there~ I like the idea of having a specific word to enter the giveaway or even like a default word like just typing !giveaway to join the giveaway.

I know it might be impossible, but is there a way to have a list of all the users who won the giveaway or at least stored somewhere? Sometimes you don't want the same person winning more than once within a period of time (specially with art and

[2017-01-12 00:58] Alkali-Metal commented on #179
Oooooohhh, I see how that would be working! That would be totally coolio!

[2017-01-12 01:08] Alkali-Metal opened #181 "Multi-Message Custom Commands"
What I was thinking for this was the ability to make the bot send up to three messages when a custom command is run. The way I was thinking would be implemented would be something similar to `!command add Test --M1 This is #1`, `!command add Test --2 This is #2`, then `!command add Test --3 This is #3` what that would do is make the `!test` command return the following (See lowest code block). The

[2017-01-12 02:03] 2Cubed commented on #181
Interesting idea. We have this functionality in magic commands... but we actually chose *not* to include this in custom commands for a specific reason. TL;DR: Spam.

If people are able to make responses contain multiple messages, there's nothing stopping them from making commands that are overly spammy themselves. And while this is an issue for the streamer's chat cleanliness, it's also a major is

[2017-01-12 02:20] kondrik commented on #181
I like the idea of being able to do something similar..  something like a command that executes another command while sending a message to the chat:

`!command add !raidhost Let's go raid %ARG1%! || /host %ARG1|tag`

With the result of posting the raid message to the chat, then (optionally with a delay?) hosting the target channel.

[2017-01-12 02:35] Alkali-Metal commented on #181
Also with the delay thing, there could be a forced time between those commands being run. So like, you would NEED to wait about 2-3 minutes before `!Test` could be run again (Or however long you three feels good)

[2017-01-12 04:43] Alkali-Metal commented on #177
For this, I think having it noticed via a tag of some sort `%count|perStream%` is probably the most logical in my opinion. Because then you could have a total amount of `!death`'s as well as a per-stream `!death` count in the same command.

[2017-01-13 00:58] AlphaBravoKilo opened #183 "%ARGN% does not seem to work right now"
AlphaBravoKilo - `!raid TangoTek`
AlphaBot - `Awesome stream guys, thanks for watching! If you are up to watch some more livestreams, check out beam.pro/%ARG1% and share some Raid Cake with them! #ABKRaid`

Hmmm...?

[2017-01-13 01:30] Innectic commented on #183
After debugging with you in your chat, it's been determined there was no bug here

[2017-01-13 01:30] #183 closed

[2017-01-13 04:46] mwilkinson81 opened #184 "Ability to have a custom command output as a whisper"
It would be nice to have the ability to specify if a custom command should be output in the general chat or as a whisper to the user that ran the command.

For example there could be a modifier like /w that you put at the beginning of the command output it should implicitly run the output as "/whisper %name%"

Example:

EngineerWilky81: !command add quietCmd /w You're now being quiet with CactusBo

[2017-01-18 03:26] 2Cubed commented on #184
Definitely a good idea. We need a good service-agnostic syntax for this, though.

Maybe an extra limiter? `.` could be good, if so. (Think hidden `.direcrories`.)

[code]

[2017-01-18 07:10] 2Cubed opened #185 "Caching of all events"
Currently, only followers are cached. We need to cache all other events, as well.

We can cache in the `EventHandler` class itself. (No need for an external JSON file.) The main thing we need to protect against is rapid-fire notifications for button spamming.

[2017-01-20 00:06] AlphaBravoKilo opened #186 "Rapid-hosting spam"
This happened in impulseSV's stream today

BeamBot- Andrew110 is now hosting you!
CactusBotAlpha- Thanks for the host Andrew110!
CactusBotAlpha- Thanks for the host Andrew110!
CactusBotAlpha- Thanks for the host Andrew110!
CactusBotAlpha- Thanks for the host Andrew110!
CactusBotAlpha- Thanks for the host Andrew110!

I was also able to replicate this. Might be a good idea to fix this.

[2017-01-20 00:09] Alkali-Metal commented on #186
How did you replicate it? Or is this the "spammer" occasion?

[2017-01-20 00:16] AlphaBravoKilo commented on #186
I replicated it by going to my own page and hosting from there. I sent a ticket to Beam about an issue with that, but surely there is a way to have a 10-15 minute timer on how often you are notified of one person hosting, right?

[2017-01-20 00:17] AlphaBravoKilo commented on #186
So yes, it was a person spamming the Host feature on Beam

[2017-01-20 00:17] Alkali-Metal commented on #186
Ah, yeah, there should be a *relatively* easy way to add a timer. AFAIK

[2017-01-20 01:18] 2Cubed commented on #186
Merging into #185. :slightly_smiling_face:

[2017-01-20 01:18] #186 closed

[2017-01-20 01:19] 2Cubed commented on #185
Prevents spam from rapid-fire following/unfollowing, hosting/unhosting, etc.

[2017-01-22 12:16] alfw commented on #173
This is bad idea, if a bot send a notify when i join a channel it make me leave the channel. And not even talking or coming back.

[2017-01-22 12:19] 2Cubed commented on #173
@alfw I would agree; it's not something I'd want running in my stream, personally. However, we've gotten requests for them, and we might as well make it an *option*. They *will* be off by default, though!

[2017-01-22 15:00] MrLotU opened #188 "Whispered join and leave notifications"
Have a whispered message sent to the streamer when someone leaves or joins the channel.

[2017-01-22 15:04] 2Cubed commented on #188
Maybe for all notifications? :slightly_smiling_face:

[2017-01-22 15:05] MrLotU commented on #188
What other notifications are there?

[2017-01-22 15:07] MrLotU commented on #188
But yeah, might be handy for all notifications

[2017-01-23 13:06] MysticalMage commented on #185
I would work on this now (I heard caching), but I no longer have any idea how the CactusBot API works... as per #172

[2017-01-24 00:31] mwilkinson81 opened #189 "Add filter that can be used with %COUNT% to by user execution"
It'd be nice to have a filter like |user to use with the %count% variable to only count the number of times the user that ran the command had ran the command.

For Example:

EngineerWilky81: !command add userCount %name% ran this command %count|user% times.
CactusBotAlpha: command !userCount added.
EngineerWilky81: !userCount
CactusBotAlpha: EngineerWilky81 ran this command 1 times.
ImoutoKurpo: !

[2017-01-24 01:32] 2Cubed commented on #189
Hmm... this would be "difficult", as we'd have to store a lot more than a simple integer.

Also, what happens in the following cases? (Who do the runs "belong to"?)
[code]

[2017-01-24 05:50] Alkali-Metal commented on #189
Maybe you could reduce the amount of storage needed by instead implementing it per stream. (The filter makes it reset to 0 at the end of the stream) and then the `!command count` can just modify all instances of `%count%` including the per stream ones in the command, because I don't really see any purpose for per-user counts.

[2017-01-24 05:58] 2Cubed commented on #189
Hmm... that's a good point, actually. What would be the purpose of per-user counters? cc: @mwilkinson81

[2017-01-24 06:03] Alkali-Metal commented on #189
Like, I can see it being a neat little addition just to play around with a bit but I don't see any real purpose of it. :/

[2017-01-25 21:30] MysticalMage commented on #68
You could check the version at bot startup and tell the user that they can update with `python update.py` and have that run a separate updater script. That script would have to download the files (Possibly with [requests](http://docs.python-requests.org/en/master/)) and replace all files except itself, the configs, and the caches. Some care would have to go into updating old cache files possibly o

[2017-01-26 06:14] 2Cubed commented on #155
#187 will fix.

[2017-01-29 20:39] 2Cubed commented on #155
Done in #187.

[2017-01-29 20:39] #155 closed

[2017-01-29 20:41] 2Cubed commented on #132
I believe this has been completed. @RPiAwesomeness, can you confirm?

[2017-01-29 20:45] 2Cubed commented on #166
Not very important. We can do this at a later date.

[2017-01-30 09:30] MrLotU opened #191 "Discord: !role command"
I think it would be cool to have some way to make automated role adding/deletion, for example in a minigame server type !join to get the roles needed to access the minigame chat or whatever. This takes away a lot of handwork moderators would have to do otherwise.

[2017-01-30 09:43] Alkali-Metal commented on #191
Personally I think it would be best suited as something like `!role join|leave|list` and then something like `!adminrole add|remove|toggle|purge` where adminrole would be used to allow and remove the roles from the user assignable list as you don't want them being able to assign themselves like, the `Owner` role as that could end badly. And `!role list` would just list all of the command add-able

[2017-01-30 09:45] MrLotU commented on #191
I agree with you on that, didn't really find the words to get my idea onto the paper if you know what I mean. Than in my example you could use a alias (those will be a thing right?) to make `!join` be the same as for example `!role join <role name or ID>`

[2017-01-30 09:52] Alkali-Metal commented on #191
Yeah, alias' are already a thing to a degree and it *should* make doing  that possible (not 100% sure of how alias' work at the moment) but it would rely on Magic:tm: commands being alias-able (yes, I did just use alias-able and if you have a problem with it... :P ) and if I am remembering correctly (again, not 100% sure on this) Magic:tm: commands are not actually alias-able yet.

[2017-01-30 09:56] MrLotU commented on #191
True, but the `!join` command is really specific, so that can be something for the long road, or not get implemented at all if we don't get alias' for Magic™️ commands.

[2017-01-30 12:21] MrLotU commented on #172
@2Cubed I have vacation in 3 weeks (starting Saturday 18 Feb) and if someone explains me how to set up the bot I can try to get a manual setup

[2017-01-30 16:38] Alkali-Metal commented on #191
Yes, it is something very specific but if Magic:tm: commands do not get alias-able then you could just create a custom command which returns what they need to type instead of `!join` or you could just teach people to use `!role join Minigame` (or whatever the role is) from the start of having the bot and I don't think it would really make that much of a difference, yeah, it takes a bit longer to t

[2017-01-30 18:33] Alkali-Metal opened #192 "Emoji Spam Config Not Updating"
If you run `!config spam emoji 1000` it *should* make the emoji limit unreachable on Beam, but for some reason it is still removing the messages which definitely have fewer than 1000 emojis.
![image](https://cloud.githubusercontent.com/assets/20218935/22436047/b5e94ac6-e6df-11e6-9fd3-5072c14461a7.png)
![image](https://cloud.githubusercontent.com/assets/20218935/22436084/ce24d90c-e6df-11e6-9acd-9db

[2017-01-30 21:20] 2Cubed commented on #191
Definitely something to think about Later™. :smile:

[2017-02-02 12:07] kondrik opened #193 "Auto-raid (& Auto-host) list?"
Possible feature - Auto-raid list?  The ability to create a list of channels that the bot will pull from for raids, either randomly or in hierarchical order, as long as there's a channel on the list that is live, similar to an auto-host list.

`!command add +autoraid Let's go raid %raidlist|rand%! if(%arg1%){With the message %arg1%!}`
or
`!command add +autoraid Let's go raid %raidlist|top%! if(%ar

[2017-02-02 12:12] kondrik opened #194 "Mentioning someone in a command adds a second "@" in front of the mention."
I tried to add a command mentioning someone, and it's adding an extra "@ " in front of the mention.

![Screenshot](https://cdn.discordapp.com/attachments/151580904177795073/270942349021020160/2017-01-17_09-36-23.png)

[2017-02-02 12:19] kondrik opened #195 "Issues with repeats."
I seem to be having no success with getting repeats working on [my channel](http://kondrik.com/stream?ghi).

When I tell the bot to add a repeat, it says it's added, but then doesn't list it.  If I try to re-add/edit the repeat I already added, the bot doesn't respond.  And if I try to remove the repeat, the bot says it doesn't exist.

![Screenshot1](https://cdn.discordapp.com/attachments/15158090

[2017-02-06 18:44] kondrik commented on #193
For the option of having the bot start hosting a few seconds after the command runs - Obviously, if the stream hasn't ended at the time the command is run, then the bot should wait & run the host command when the stream ends, possibly with a pre-defined expiration time if the stream isn't ended fast enough.

[2017-02-08 06:11] QuirkySquid commented on #172
If we can agree on the process, I can make a video walkthrough of setting up CactusBot.

[2017-02-08 15:20] EvilNotion opened #196 "Whispering cactusbot a command that requires arguments causes cactusbot to respond to the channel"
When whispering a command to cactusbot that requires an argument without providing the argument, CactusBot will throw the error out to the chat, rather than the whisper.

![image](https://cloud.githubusercontent.com/assets/24416612/22743434/32e8b14c-ede8-11e6-8f31-dfb603d36402.png)

[2017-02-08 16:40] EvilNotion opened #197 "Feature Request: !trust @PersonName <n>"
Optional argument <n> will trust a user for <n> spams and then remove the trust automatically.  (Essentially used to grant permission to post links without having to manually !trust remove them after the fact)

[2017-02-08 17:19] QuirkySquid commented on #197
Interesting. Maybe instead of using `!trust`, there could be a new command called `!permit <n>`, which would work like you specify.

[2017-02-08 17:46] EvilNotion commented on #197
!permit would be consistent with other bots that perform that type of functionality.

[2017-02-08 22:43] 2Cubed commented on #196
Good find! Definitely need to fix this. Thanks for opening an issue, BTW! :)

[2017-02-08 22:44] 2Cubed commented on #197
Good call! Definitely something we should have.

[2017-02-09 05:55] EvilNotion opened #198 "People in chat like to talk about d.va in Overwatch. Cactusbot thinks it's a link."
Would it be possible to add 'allowed' URLs? or for now, add a regexp scan for d.va ?

[2017-02-09 05:56] Innectic commented on #198
Link whitelisting is a thing we plan to do, but we also have been thinking about adding a hard-whitelist for D.Va, since it's a silly thing to get the bot mad at you for

[2017-02-11 05:52] Innectic commented on #196
I seem to be unable to reproduce this bug, so I'm assuming it's been fixed at some other point by someone else. Closing for now, feel free to reopen if you're still having issues :D

[2017-02-11 05:52] #196 closed

[2017-02-11 05:56] EvilNotion opened #199 "Feature Request - !dice <n>"
Where N is the amount of sides on the die, default 6..... please?

[2017-02-11 05:57] Innectic commented on #199
We're planning to add a random filter to commands that will allow you to specify a range that a random number can be chosen from. We won't implement something like that directly into the bot, but users will have the ability to create this themselves soon.

[2017-02-11 05:57] #199 closed

[2017-02-11 10:30] misterjoker opened #203 "User and Arg repeating?"
Litterally exactly what I did.

misterjoker: !command add hug %USER% hugs %ARGS%
cactusbot:  Updated command !hug.
misterjoker: !hug @Alfred_E_Newman
cactusbot: misterjoker hugs @Alfred_E_Newman !hug @Alfred_E_Newman

[2017-02-11 14:45] 2Cubed commented on #203
Good find! We definitely need to fix this.

[2017-02-11 17:20] Acg1000 opened #204 "Command without the !"
Create a command that would look for a certain word in a users message and reply with an output once that is seen.

[2017-02-11 17:44] Innectic commented on #204
We've been thinking about making message triggers. For instance if you're playing on a server and people keep asking for the ip:

[code]

Something like that. Now that's clearly not what the final command would look like, but it's still an idea we've had. :)

[2017-02-11 17:49] Innectic opened #205 "Service configs"
Running multiple services from the bot is a goal we do have, however constantly adding to the main `config.py` for each service is bad practice, since people would have to keep rewriting it, and this could cause issues in the future when the panel is done. So, we should maybe include a config.py and config.template.py for each service that  user adds.

[2017-02-11 18:07] Innectic commented on #203
I seem to be unable to reproduce this bug. If you still have issues with it, reopen this issue :)

http://i.imgur.com/3FexGjJ.png

[2017-02-11 18:09] Innectic commented on #146
I've been unable to reproduce this, if anyone else has any issues with this, please reopen the issue.

http://i.imgur.com/54YvxXP.png

[2017-02-11 18:09] #146 closed

[2017-02-11 18:09] 2Cubed commented on #204
Good idea! :+1:

[2017-02-11 18:10] Innectic commented on #147
#203

[2017-02-11 18:10] #147 closed

[2017-02-11 18:17] 2Cubed commented on #203
I was able to reproduce this.

![image](https://cloud.githubusercontent.com/assets/12002323/22856298/7ca3c314-f05c-11e6-8464-e04643739020.png)

[2017-02-11 21:30] #192 closed

[2017-02-13 16:24] kondrik commented on #204
So a search would be like an alias that triggers from anywhere in a message?  I like it!

[2017-02-13 22:23] EvilNotion opened #207 "!config announce <state> toggle off not working"
Not sure which version of CactusBotAlpha ImpulseSV is running, but trying to turn off bot announcements isn't working.  No feedback to the command at all unless I don't fill it out properly, then it complains, but switching announcements to off (!config announce host toggle off ) isn't working.

<3 Keep up the awesome work guys!

[2017-02-13 22:29] Alkali-Metal commented on #207
There is a fix for that already it just has not been rolled out yet. AFAIK :+1:

[2017-02-14 02:59] Alkali-Metal opened #208 "Custom Message Prefixs"
Currently the only way to change the message prefix is by going into the code and changing it in the message parser, but what I was thinking is maybe something in the `!config` command (Of course the prefix would be whatever you have it at at that point it time) and this would be a nice feature as it would be nice if some people are used to other prefix's coming over from other bot's then they can

[2017-02-14 05:47] Acg1000 commented on #204
Woot! Glad I could throw an idea out there :)

[2017-02-14 05:54] 2Cubed commented on #204
We should build in boolean logic (`AND`/`OR`) and capitalization "stuff".

The following shows the desired result, but not necessarily the actual syntax we should use:
[code]

[2017-02-15 03:55] Innectic commented on #174
Done in #202

[2017-02-15 03:55] #174 closed

[2017-02-15 03:55] Innectic commented on #152
Done in #202

[2017-02-15 03:55] #152 closed

[2017-02-15 04:35] 2Cubed commented on #194
Fixed in #200.

[2017-02-15 04:35] #194 closed

[2017-02-15 05:26] Innectic opened #209 "Global user ignore system for entrances and exits"
Some people like to have notifications on for user join and leave, but some of those people don't like to be delurked by those notifications. This system would allow for people to always be ignored by something like that. It would also be usable by other bots.

[2017-02-15 06:51] Innectic commented on #195
This seems to have been an issue with your api user. I've resolved this by recreating your user. Closing.

[2017-02-15 06:51] #195 closed

[2017-02-17 01:01] Innectic opened #210 "Link whitelisting"
There should be an option to whitelist links.

[2017-02-17 01:02] Innectic commented on #210
This would also solve #198

[2017-02-17 01:05] Innectic opened #211 "Should we move Beam's Constellation interactions into Sepal?"
Moving these interactions into sepal would make the future alerts system much easier to actually handle, and would make event caching ( #185 ) not terribly hard to implement at all.

[2017-02-17 01:57] 2Cubed commented on #211
I think we should keep all connections to services in the main bot. To me, it seems like much better encapsulation.

[2017-02-17 02:08] Innectic commented on #211
@2Cubed How do we handle caching, and stream alerts then? The bot is not a suitable place for any of that

[2017-02-17 02:20] 2Cubed opened #213 "Improved README"
Our current README is not helpful. We should fix that.

https://dbader.org/blog/write-a-great-readme-for-your-github-project

[2017-02-17 02:23] 2Cubed commented on #211
@Innectic That's an excellent question.

I think for caching, we might just want to make an API request which does "some Redis stuff", and then make a quick request to check if the user is in the cache before sending the notification. (We could also add a way to clear the cache from the dashboard, for example.)

Not sure what you mean about "stream alerts".

[2017-02-17 03:24] Innectic commented on #211
@2Cubed: Stream alerts = on stream alerts ("X PERSON JUST FOLLOWED OMGLOLYESTHANKSFORTHEFOLLOW")

[2017-02-17 03:27] 2Cubed commented on #211
Ah, I see! Can't that just stay in the bot, like it is now? (Not talking about caching, BTW.) :slightly_smiling_face:

[2017-02-17 20:45] Innectic commented on #198
Merging into #210

[2017-02-17 20:46] Innectic commented on #210
#198 has been merged to here.

[2017-02-17 21:00] 2Cubed commented on #198
Would like to keep this open, just so that we can ensure we add this specific link to the whitelist. (Will close after it's added to #210.) :slightly_smiling_face:

[2017-02-18 01:53] Innectic commented on #211
I'm talking about *on stream*, not *in chat*

[2017-02-18 01:57] 2Cubed commented on #211
@Innectic *Oh*, I see. Can't the bot just send "ohey, a follow happened" packets to Sepal, and then Sepal will distribute those to clients? :)

[2017-02-18 18:28] Innectic commented on #211
@2Cubed The original intention for sepal was that the bot never interacts with it. The only time the bot was ever supposed to send something to sepal was authentication

[2017-02-18 19:08] 2Cubed commented on #211
@Innectic Hmm... why? I don't see any reason why we shouldn't allow that... :thinking:

[2017-02-24 22:41] RPiAwesomeness opened #215 "Event-emitting commands"
The idea is that if a certain command is run, the bot will emit an event through Sepal and other people could subscribe to that event feed. This could be useful for integrations like BroBizzleBot's confetti bot or on-stream text being updated by mods

Example syntax: `!command add <name>:<event> <response>`. It would include all arguments in the event as well.

[2017-02-25 01:05] 2Cubed commented on #215
Alternate syntax idea:

[code]

[2017-02-25 04:46] Innectic commented on #215
We had talked in our chat a long time ago about doing event `!trigger`s.

[code]

Trigger cause could be command being added(removed, changed), same for quotes, etc

[2017-02-25 15:45] MrLotU opened #216 "`!repeat list` not giving intervals"
When you use `!repeat list` intervals are not given. This happens in version 0.3 but not in 0.4.

0.3:
<img width="310" alt="screen shot 2017-02-25 at 16 44 30" src="https://cloud.githubusercontent.com/assets/18392003/23332423/bb264206-fb79-11e6-952c-addb472d4fb9.png">

0.4:
<img width="322" alt="screen shot 2017-02-25 at 16 45 09" src="https://cloud.githubusercontent.com/assets/18392003/23332433/

[2017-02-26 17:47] Innectic opened #217 "Multiple service support"
Supporting multiple services at a time is an important thing to have. This will happen with #205, but figured there should be an issue for it too.

[2017-02-26 18:47] Innectic commented on #205
Implementation has started on https://github.com/CactusDev/CactusBot/tree/feature/service-config , but is waiting on the api to support more than one service ( https://github.com/CactusDev/CactusBot/blob/feature/service-config/cactusbot/handlers/command.py#L30 ). *cough* @RPiAwesomeness *cough*

[2017-02-26 18:51] #211 closed

[2017-02-26 19:56] 2Cubed commented on #217
What would this entail? Support for specific services (Discord, Twitch, etc.), or just a framework that is generalized for all services?

[2017-02-26 20:04] Innectic commented on #217
A framework. The idea of 0.4 in the beginning was that it would be able to connect to anything with a socket. Websocket, TCP, UDP, or whatever.

[2017-02-26 20:04] Innectic commented on #207
Fixed in #219

[2017-02-26 20:04] #207 closed

[2017-02-26 20:06] Innectic commented on #216
Fixed in #218

[2017-02-26 20:06] #216 closed

[2017-03-02 07:31] Innectic commented on #198
This has been started on [feature/link-whitelisting](https://github.com/CactusDev/CactusBot/tree/feature/link-whitelisting)

[2017-03-02 07:31] Innectic commented on #210
This has been started on [feature/link-whitelisting](https://github.com/CactusDev/CactusBot/tree/feature/link-whitelisting)

[2017-03-02 07:50] #198 closed

[2017-03-03 02:33] 2Cubed commented on #203
Testing shows that `.split()` appends the entire component to the end if the input ends with a *space*! :open_mouth:

Working on a fix now.

[2017-03-03 02:51] 2Cubed commented on #203
Closing this in favor of #222.

[2017-03-03 02:53] 2Cubed commented on #203
Fixed in #222! :tada:

[2017-03-03 02:53] #203 closed

[2017-03-03 16:15] #173 closed

[2017-03-03 18:05] Innectic opened #225 "OAuth"
Password authentication is being removed in march of 2017.

[2017-03-03 18:29] #58 closed

[2017-03-03 18:35] 2Cubed opened #227 "Move Cactus class to a function"
The `Cactus` class is currently just a single method, and there's no need for it to be any more than that. We should pull the method out into a function.

[2017-03-03 19:51] #227 closed

[2017-03-03 20:55] #225 closed

[2017-03-03 20:56] #213 closed

[2017-03-03 20:56] #172 closed

[2017-03-03 21:41] 2Cubed commented on #84
We need to document our code before releasing it. (This isn't even that bad to write. :slightly_smiling_face:)

[2017-03-03 22:31] Innectic commented on #51
I started more of these on [feature/unit-testing](https://github.com/CactusDev/CactusBot/tree/fix/unit-testing)

[2017-03-04 03:13] Innectic opened #233 "Points"
In-stream points.

- [ Command ]
- [ Accumulation Over Time ]
- [ More points for longer watch time (Toggled) ]
- [ More points for different roles (Configured) ]

[2017-03-04 03:29] 2Cubed commented on #233
Should we move this to v0.5? It seems like it'll be a much bigger feature than the "fix"-ey things in v0.4.1.

[2017-03-04 16:49] 2Cubed opened #234 "Update __version__ to v0.4"
Currently `v0.4-dev`.

[2017-03-04 19:15] Innectic commented on #234
Guessing this is the last thing we do before we release?

[2017-03-04 19:30] 2Cubed commented on #234
Yep.

[2017-03-04 19:30] 2Cubed commented on #84
Done in #232.

[2017-03-04 19:30] #84 closed

[2017-03-04 19:30] #185 closed

[2017-03-04 19:30] #51 closed

[2017-03-04 20:45] #234 closed

[2017-03-04 22:13] Innectic opened #239 "Tag modifier creates an error when no arguments are present"
`!command add testing %ARGS|tag%`
`!testing`

[2017-03-04 22:15] Innectic opened #240 "%ARG[n/s]% variable with modifiers don't produce responses when no arguments are present"
`!command add testing %ARGS|reverse%`
`!testing`

[2017-03-04 22:17] Innectic opened #241 "Finish unit tests"
We're still missing unit tests for lots of major components of the bot, and most commands.

[2017-03-04 22:26] Innectic commented on #233
@2Cubed I think that we should have some sort of new features, even in our minor updates.

[2017-03-05 02:17] 2Cubed commented on #233
@Innectic According to Semantic Versioning, we should keep minor versions to fixes, and save actual features for main releases. (Don't worry, though - hoping to get v0.5 out within the next month or two. :smiley:)

[2017-03-05 02:38] Alkali-Metal opened #243 "join/leave announcements not working."
## How to reproduce:
 - Turn on Join / Leave announcements
 - I just used my local hosted 0.3 bot to join/leave with a separate account and was checking to see if it would announce the entrance / leaving of the other bot/account

 ### Expected result:
  The bot announces when the user joins / leaves

### Actual result:
  Nothing happens

## Environment
Remote hosted bot

## Other Information
 :pot

[2017-03-05 02:40] Alkali-Metal commented on #243
(Adding image proof)
![image](https://cloud.githubusercontent.com/assets/20218935/23584024/50562380-0112-11e7-85a9-33be863dd360.png)

[2017-03-05 03:48] 2Cubed commented on #240
I'm not entirely sure what the issue is...
![image](https://cloud.githubusercontent.com/assets/12002323/23584333/a280aaf8-012c-11e7-8684-6af465bce3cc.png)

[2017-03-05 04:13] 2Cubed commented on #240
Done in #246.

[2017-03-05 04:13] #240 closed, assigned to nobody

[2017-03-05 04:13] 2Cubed commented on #239
Fixed in #245.

[2017-03-05 04:13] #239 closed, assigned to nobody

[2017-03-05 04:35] 2Cubed commented on #148
This has been implemented for a while; the issue was somehow left open, though.

[code]

[2017-03-05 04:35] #148 closed

[2017-03-05 04:37] 2Cubed opened #247 "%ARGS% default returns "Not enough arguments!""
Defaults work with `%ARGN%`.
![image](https://cloud.githubusercontent.com/assets/12002323/23584586/7b29dd7e-0133-11e7-822e-6eebae0e6c6f.png)

Defaults are broken with `%ARGS%`.
![image](https://cloud.githubusercontent.com/assets/12002323/23584584/733a6bd8-0133-11e7-952b-a8893d947918.png)

[2017-03-05 04:38] Innectic commented on #247
We don't have defaults

[2017-03-05 04:41] 2Cubed commented on #247
We do... look at my screenshots. :stuck_out_tongue:

[2017-03-05 04:42] Innectic commented on #247
When were these even added? I don't remember seeing a pullreq or anything O_O

[2017-03-05 04:42] 2Cubed commented on #247
Alongside modifiers, I think?

[2017-03-05 06:07] 2Cubed commented on #215
Right! Duplicate of #179.

[2017-03-05 06:07] #215 closed

[2017-03-05 06:25] 2Cubed opened #248 "Move MessagePackets to raw strings"
Currently, we store `MessagePackets`, comprising of components which each contain `data`, `text`, and `type`.

[code]

While this is a good format, it makes storage errors due to parsing very easy. (For example, if stored with the incorrect `link` type instead of `url`, the component will not be seen as a URL until the packet is re-added.)

Instead, we should store plaintext, and use helper functi

[2017-03-05 06:26] Innectic commented on #248
How would we use this?

[2017-03-05 06:26] Innectic commented on #248
How would we use this to create cross-service stuff?

[2017-03-05 06:37] 2Cubed commented on #248
@Innectic In the same way that our current format works.

If a user on Beam sends `Hello! :cactus` and we receive a Beam-formatted packet, we then convert it to reflect the standard we set for these text-based packets. (`Hello! 🌵`)

[2017-03-06 21:08] Innectic opened #249 "Command permission changing"
[code]

Syntax isn't final

[2017-03-06 21:17] 2Cubed commented on #249
What if we instead used `rename`?

[code]

You wouldn't have to specify the `+` for the old name, but you could optionally supply it for the new one to change permissions.

[2017-03-06 22:59] Alkali-Metal commented on #249
Personally I feel as though this is would be better as a separate Magic:tm: command for easier integration with other services and also being able to do it with other magic commands. (See [175](https://github.com/CactusDev/CactusBot/issues/175) for example)

[2017-03-07 00:43] Innectic commented on #249
That's a much better way.

[2017-03-07 00:44] Innectic commented on #249
@2Cubed That's a much better way

[2017-03-07 00:44] Innectic commented on #249
@Alkali-Metal This should stay part of the `command` command because it changes something about commands. Changing built-in command permissions can still happen using this command, it just needs to be implemented.

[2017-03-07 00:55] Alkali-Metal commented on #249
@Innectic it just feels clunky in my opinion to have a `!command` command changing built-ins. and with using the `!config` command it could make it easier to understand that it changes both to people who are new to CactusBot

[2017-03-07 03:43] andrewcgraves opened #250 "Giveaway command"
Selecting a viewer out of a collection of viewers that typed in `!join` within a given time limit

[2017-03-07 03:57] Alkali-Metal commented on #250
Duplicate of [#112](https://github.com/CactusDev/CactusBot/issues/112)...

[2017-03-07 04:22] 2Cubed commented on #250
Yep - duplicate of #112. (We can continue discussion there!)

[2017-03-07 04:22] #250 closed, assigned to nobody

[2017-03-08 20:00] willow-bohlen opened #251 "config.template.py and INSTALL.md are inconsistent"
In `INSTALL.md`, it says this:
`Next, open 'config.py' with your favorite text editor, and set
'USERNAME' and 'PASSWORD' to the bot's credentials, and set 'CHANNEL' to your channel's name.`

However, the `config.template.py` doesn't have 'USERNAME' or 'PASSWORD', only this:

`TOKEN = "OAuth_Token"
CHANNEL = "ChannelName"

API_TOKEN = "CactusAPI_Token"
API_PASSWORD = "CactusAPI_Password"
API_URL =

[2017-03-08 20:00] Innectic commented on #251
Ah, seems that I forgot to update the install instructions when I implemented OAuth. Fixing now :)

[2017-03-08 20:02] willow-bohlen commented on #251
@Innectic is da real mvp

[2017-03-08 20:03] willow-bohlen commented on #112
Working on this now, hopefully it will be ready soon™

[2017-03-09 01:15] willow-bohlen opened #253 "Switch handlers to asynchronous generators"
I was just looking around in the code, and noticed this at line 88 of cactusbot/handler.py:

`# TODO: In Python 3.6, with asynchronous generators:`
`# yield packet`

Well we're in 3.6 now, so go for it.

[2017-03-09 01:15] Innectic commented on #253
This can't be done yet. We can't assume that everyone is always on 3.6, because it's too new. This is being pushed to 0.5.

[2017-03-09 01:18] willow-bohlen commented on #253
fiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiinnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnneeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee

[2017-03-09 02:18] #251 closed, assigned to nobody

[2017-03-09 02:50] 2Cubed opened #254 "Generator handlers"
The ability to `yield` in handle methods. Requires asynchronous generators in Python 3.6.

[code]

[2017-03-09 02:51] Innectic commented on #254
Merging #253 to here.

[2017-03-09 02:51] Innectic commented on #253
Merged into #254

[2017-03-09 02:51] #253 closed, assigned to nobody

[2017-03-09 02:52] 2Cubed opened #255 "Generator command responses"
Command responses using generators. Requires asynchronous generators in Python 3.6 and #254.

[code]

[2017-03-13 02:48] 2Cubed opened #256 "Use context managers"
We should be using context managers in a number of places which we currently aren't. (For example, [`WebSocket`](http://aiohttp.readthedocs.io/en/stable/client.html#websockets)!)

In addition to making the code cleaner and more Pythonic, it will help with #62.

[2017-03-14 01:32] Innectic opened #257 "Spam prevention message deletion"
Offending messages aren't deleted anymore

[2017-03-14 02:46] 2Cubed opened #259 "Bot administrators"
We should add a config option which specifies a list of users to automatically trust as "moderators", regardless of their actual role.

[code]

[2017-03-16 23:56] RPiAwesomeness commented on #243
We were unable to reproduce this, so for now this issue is going to be closed. Feel free to let us know if it reoccurs!

[2017-03-16 23:56] #243 closed, assigned to nobody

[2017-03-17 09:00] Innectic commented on #257
This is due to us missing oauth scopes, Not a bug,

[2017-03-17 09:00] #257 closed, assigned to nobody

[2017-03-18 17:15] 2Cubed opened #263 "Switch to text roles"
Rather than using numerical values for roles, we should just use text values to minimize confusion.

So that comparisons are still easy, we can write a simple `Role` class with comparison `__dunder__` methods defined, so that we can simply say `packet.role > "moderator"` without having any issues. (All possible roles will be defined, in order, in the `Role` class, and it will only accept those as

[2017-03-19 01:19] Innectic commented on #259
Moving this to 0.5, because this really should be integrated with #263.

[2017-03-20 00:58] RPiAwesomeness commented on #208
https://github.com/CactusDev/CactusAPI/issues/6

[2017-03-20 01:01] RPiAwesomeness commented on #204
Oh no, we're going to start having BenBot-AI-esque responses :joy:

[2017-03-20 01:07] Alkali-Metal commented on #204
But at least the docs are better! (They LITERALLY, could not be any worse than BenBot documentation)

[2017-03-22 01:03] RPiAwesomeness opened #264 "!multi with no arguments has an unhelpful help message"
## What is the issue?
Running just `!multi` returns `Not enough arguments. <>`. This is rather unhelpful and should be fixed. If it can't be done programmatically, then we'll have to hard-code it.

[2017-03-23 00:48] Innectic opened #266 "Configurable Sepal URL"
Us using the production API, and production Sepal for testing / development is stupid, and dangerous. This is the final step to us being able to do fully local development.

[2017-03-23 03:24] #266 closed, assigned to nobody

[2017-03-23 03:34] Innectic opened #268 "Repeat timelines"
(Separated from @2Cubed's original #70)

Automatically set length, hard setting time between commands to 15m:

[code]

Set hard length to 45m and spread all commands over (equal length between):

[code]

Send at custom time keyframes:

[code]

[2017-03-25 12:17] 2Cubed commented on #264
`command.py` needs to include support for `*args` in `message`.

[2017-03-25 20:06] RPiAwesomeness opened #269 "!config should be able to return the current setting"
It may be useful to run certain commands like `!config spam emojis` and see what it is currently set to.

For example:
[code]
as opposed to the current response:
[code]

[2017-03-26 22:32] #269 closed, assigned to Innectic, RPiAwesomeness

[2017-03-27 01:31] Alkali-Metal opened #278 "Spam warnings -- Streamer Doesn't know"
Currently the bot whispers the user who has violated the spam protect filters, which is all fine and dandy, but it should also whisper to the moderators and(or) the streamer, so they know that the bot is detecting it and who is violating the spam filters. This is just good for streamer/moderator awareness of viewers. It could also be solved by having an (optional) public response as well as a whis

[2017-03-28 03:07] 2Cubed commented on #256
Our *tests* output the following:

[code]

[2017-03-28 03:22] 2Cubed commented on #241
Parameter-based testing started on `test/property-based`.

[2017-03-28 03:33] pylang commented on #62
This [issue](https://github.com/aio-libs/aiohttp/issues/497) suggests `session.close()` must be explicitly called.  I'm hoping `async with` will handle this in the future.

**Note:**  For reference, I add the following:

As mentioned in the Discord, one option might be chaining `close` commands for all opened sessions.  See a rough idea using simple files [in this SO post](https://stackoverflow.co

[2017-03-28 05:00] pylang commented on #159
It would be nice to run cactusbot without plugging in config info for a specific service such as beam.  For developing, I'd prefer to test on a simple echo server.

[2017-03-28 05:18] 2Cubed commented on #159
Definitely will want that, in the form of `EchoService` or something. :+1:

[2017-03-28 06:05] 2Cubed commented on #62
Current "State of the Explosions™":
[code]
 - base interrupt trace
 - unclosed `aiohttp.ClientSession`s
 - unclosed `aiohttp.ClientResponse`s
 - destroyed `asyncio.Task`s

[2017-03-28 06:09] 2Cubed commented on #256
`WebSocket` was already using context managers, through `aiohttp.ClientSession` (were not overridden).

[2017-03-28 06:10] 2Cubed commented on #256
Context managers were implemented on `fix/clean-shutdown`. Improved our code's "Pythonic-ness" and overall cleanliness, but did not entirely solve #62.

[2017-03-28 06:10] #256 closed, assigned to nobody

[2017-03-28 08:36] 2Cubed commented on #171
Nearly done on `fix/pylint`! Just needs to have the `# TODO` for full user bans fixed. I have it implemented, but I'm getting an error from Beam saying that it's not getting the CSRF token in the request. Can't seem to find the code for CSRF, oddly - need to figure out where it went so that we can finish this off.

[2017-03-28 18:07] 2Cubed commented on #171
Done in #280! :tada:

[2017-03-28 18:07] #171 closed

[2017-03-28 20:02] 2Cubed commented on #264
Fixed in #281.

![image](https://cloud.githubusercontent.com/assets/12002323/24424845/0df323be-13d0-11e7-9a2f-f211ce3a16e0.png)

[2017-03-28 20:02] #264 closed, assigned to nobody

[2017-03-29 02:21] RPiAwesomeness commented on #278
On the condition we include AI to make CB whiny to the streamer and super aggressive kill everything to the mods :ok_hand:

[2017-03-29 03:43] Alkali-Metal commented on #278
YES! Machine learning-ify it!

[2017-03-30 02:38] Alkali-Metal opened #283 "Variables as variable defaults don't work"
## What is the issue?
When you put a variable as the default for another variable, it doesn't work, it returns the variable as it is.

## How do we reproduce this issue?
![image](https://cloud.githubusercontent.com/assets/20218935/24485075/332ebfea-14bf-11e7-8ca6-2e080dfa2e2c.png)
Do that.

## Environment
Remote hosted CactusBot 0.4

## Other Information
I feel as though it should work because it

[2017-03-30 02:42] 2Cubed commented on #283
Hmm... this wasn't really considered. Could look into it, just making sure that recursion isn't an issue. :+1:

[2017-03-30 02:43] Alkali-Metal commented on #283
Yeah, that would be a mild issue. XD

[2017-04-02 14:29] 2Cubed opened #286 "First chat notifications"
We should have optional notifications for the first time a user *chats*. Instead of getting notifications when users first join the chat itself, they can be notified after a user says something. That way, they don't miss new people joining, but don't call out (or see) lurkers, either.

[2017-04-02 14:33] 2Cubed commented on #76
We could consider integrating this with #179.

[2017-04-02 14:35] 2Cubed commented on #126
Subtle title change, due to #248.

[2017-04-04 02:08] Alkali-Metal commented on #189
I feel as though this could be obliterated due to the fact none of us can think of any purpose for this and @mwilkinson81 hasn't responded at all.

(But per stream `%COUNT%`s should exist, I would imagine something like the filter `%COUNT|stream%` or something like that.)

[2017-04-04 04:27] 2Cubed commented on #189
Closing. (Can reopen if we discover a purpose for it later.)

[2017-04-04 04:27] #189 closed

[2017-04-09 04:30] 2Cubed commented on #248
Unicode emoji filtering is "impossible", unless you have a giant list of all Unicode emoji somewhere. Maybe use a custom regex? The following seems like it should work, without getting in the way of anything that would show up in a regular message (`Favorite food: potato`, `12:56:43pm`, etc.).

[code]

[2017-04-09 18:54] 2Cubed commented on #113
Closing, in favor of #248.

[2017-04-09 18:54] #113 closed

[2017-04-11 05:12] Alkali-Metal opened #287 "Chat Warnings For Spam Protection"
## What is the issue?
Lately CactusBot has been timing people out who just accidentally break the spam filters, these are people who I trust but haven't `!trust`ed in the bot, and because they have accidentally broken the spam rules they get timed out for not knowing what the filters are set to? That seems kinda mean, so what I am suggesting is to have an *optional* (Default on) warning message pu

[2017-04-11 13:26] RPiAwesomeness commented on #287
100% agree with this. Most major bots that have spam protection also have a warning system, we should get this too.

[2017-04-11 19:39] 2Cubed commented on #287
Added Sepal label, because the "has been warned" storage would most likely happen through a Redis cache that Sepal updates.

[2017-04-20 01:45] 2Cubed commented on #169
This is a bad idea; command unit tests should still exist outside of doctests. We could consider adding docstrings that simply show how the commands work, but that should be in another issue.

[2017-04-20 01:45] #169 closed

[2017-04-20 01:47] 2Cubed commented on #241
Let's try to get Coveralls code coverage to at least 80%. (We should shoot for 100% one day™, but having less than 80% isn't really acceptable.)

[2017-05-02 20:25] 2Cubed opened #290 "Message key-phrase filtering"
Time a user out if their message contains a specific phrase.

### Example:
Bad Phrases: "potato"
~~Wow, you're such a potato!~~
Bot -> User: Please do not use the word "potato" in this stream.

## TODO:
- [ ] Timeout duration configurability
- [ ] Custom phrase responses

[2017-05-02 20:35] EvilNotion commented on #290
Along the lines of 'Banned words' - It would be nice if we could also do custom words that get custom whispers sent to the target.  So for example:

!command autoreply add dab delete Impulse doesn't "dab".  Thank you.
!command autoreply add join none Impulse is on a private server that you cannot join.

~~\< XboxTrollololololX \> dab~~
CactusBotBeta -> XboxTrollololololX  Impulse doesn't "dab".  T

[2017-05-02 21:03] Innectic opened #291 "Custom spam actions"
Users should be able to choose the actions to take on a user for spam.

[code]

[2017-05-02 21:51] Alkali-Metal commented on #291
Also, a warning option:
[code]
(takes 2 warnings then does the action)

[2017-05-03 04:28] Innectic commented on #188
Added api, because we'd want this to be configurable

[2017-05-03 04:35] Innectic opened #293 "Global bot announcements"
We should have a way to do broadcasts to all the bots. This would be a packet from sepal that the bot sends the message from

[2017-05-03 04:40] Alkali-Metal commented on #293
Make sure that this can be disabled on a per-bot basis for those people who do not like global announces.

[2017-05-05 10:17] MrLotU commented on #293
I like the idea, but what would it be used for? I mean, most (if not all) users are in the Discord so if you need it so you can spread messages to users, I would just use the Discord. I don't see any other use cases for a message sent to all stream chats of CB users. But than, I might've overlooked something this can be used for.

[2017-05-05 16:06] Innectic commented on #293
@Alkali-Metal Good idea.

[2017-05-05 16:06] Innectic commented on #293
@MrLotU We can't assume that every user is in one place. These would be used to announce issues, updates, and the similar.

[2017-05-06 03:36] Innectic commented on #283
Fixed this in #295

[2017-05-06 03:40] 2Cubed commented on #247
Fixed in #295.

[2017-05-06 03:40] #247 closed, assigned to nobody

[2017-05-06 03:41] 2Cubed commented on #283
Silly @Innectic. ;P

[2017-05-06 16:21] Innectic commented on #283
Can confirm, am noob.

[2017-05-07 23:13] Innectic opened #297 "Better command documentation"
Commands should be documented in a similar fashion so how the rest of the bot is documented. This will also bring an in-chat `help` command.

[2017-05-07 23:14] Innectic opened #298 "Better looking command regex error messages"
When regex isn't matching, a response like `Invalid command_name` is given. We should surround the variable with `"`, and replace the `_`s with spaces

[2017-05-07 23:17] 2Cubed commented on #297
We should autogenerate our command docs from these docstrings, so that `!help` output is consistent with the main docs.

[2017-05-07 23:35] Innectic opened #299 "Magic command targeted responses"
Adding `target=True` to the `@Command.command` decorator, should make the command whisper the response back, and delete the original message.

[2017-05-07 23:40] Innectic opened #300 "Magic command regex subcommand"
Magic commands should be able to match by a given regex, probably in the `Command.command` decorator

[2017-05-07 23:43] 2Cubed commented on #299
Good call! While you can use the following, `target=True` would be far cleaner.

[code]
[code]

[2017-05-07 23:45] 2Cubed commented on #300
What do you mean by this? Something like `regex="things?"`, where the command could be either run as `!main thing` or `!main things`?

[2017-05-08 00:08] Innectic commented on #299
@2Cubed Good point, however, importing message packet for everything is just meh /shrug

[2017-05-08 01:19] Innectic commented on #300
@2Cubed Pretty much, yeah.

[2017-05-08 06:53] Innectic opened #301 "Magic command alias"
We should be able to create aliases of the built in commands

[2017-05-08 07:06] MrLotU commented on #301
Yus pls!

[2017-05-09 02:29] Innectic commented on #298
Fixed in #302

[2017-05-09 02:29] #298 closed, assigned to Innectic

[2017-05-09 06:41] LinaBoeckwurm commented on #268
Copy pasting this from discord for your convenience :-)

About repeats (you probably have heard it all before, but I am still saying it):
Don't get me wrong, repeats are awesome. The thing is, they have a lot of little things I would love to see a fix for.

The first being, that you would want more than one command repeat at once, but you would not like them to be all spit out at once. But seeing

[2017-05-09 06:53] 2Cubed opened #303 "Better repeat time parsing"
Currently, repeat adding looks like the following:
[code]

However, the time argument, `600`, is not very user-friendly here.

- [ ] Switch to minutes by default.
We don't allow for an interval less than 60 seconds anyways, so it's silly to make users multiply the number of minutes by 60 manually.

- [ ] Better interval parsing.
We should parse specially formatted intervals with units. For example

[2017-05-09 06:56] MrLotU commented on #303
I like the idea, kinda related to #268 I think if you were to combine the two that would for some awesome saucy stuff!

[2017-05-11 14:17] kondrik commented on #184
I want to be able to add a command that can whisper to a specific user, not just the user who activates the command, so if there could just be some kind of "/w @target" type thing that the bot detects & turns into a whisper/PM, that would be nice.

[2017-05-11 15:47] Alkali-Metal commented on #184
Quick question; what would the usage of something like that be? I can't think of a usage for it :/

[2017-05-11 15:57] kondrik commented on #184
It would allow automating things that require other bots/services.

`/w @StreamJar !leaderboard` to make StreamJar respond with leaderboard stats on a schedule, etc.

I would personally be using it to make the bot whisper at my ScorpBot instance to trigger my command that loops through a list of people & shouts them out.  Currently, it's posting the command to chat, and I'd prefer to have it whisp

[2017-05-11 17:20] Alkali-Metal commented on #184
Ahh, that makes sense. Okay,  yeah, I was just unsure of a use for it but I can see the usage for it.

[2017-05-11 20:47] 2Cubed commented on #184
@kondrik Interesting... do you have any ideas for syntax? :thinking:

[2017-05-11 22:35] Alkali-Metal commented on #184
Maybe something like
[code]
Where it takes the first argument after the command name as the target.

[2017-05-12 00:40] RPiAwesomeness commented on #132
@2Cubed I actually have no idea >.<

[2017-05-12 00:44] RPiAwesomeness commented on #301
Working on this now! \o/

[2017-05-12 02:21] Alkali-Metal commented on #283
You Innectato!

[2017-05-12 11:37] kondrik commented on #184
I would still want the command to be able to be mod-only or caster-only, so it would need to be possible to combine permissions and whisper.

You could always do like I've seen other bots do, and detect if the message starts with /w, then use the second word of the message as the target.

Using Alkali's example:
[code]

[2017-05-12 13:05] Alkali-Metal commented on #184
Yeah that could work.

And if the multi-limiter thing isn't already a part of the bot (don't know because I can't test right now) it should be, because the limiters should be allowed to work together. CC: 2Cubed

[2017-05-13 18:38] 2Cubed commented on #184
Multi-limiters don't *currently* work, intentionally... but simply because we only have `+` and `$`, which make no sense to combine.

Once we add `.` and `>`, which will be in a "group" like the user-level limiters, you'll be able to combine one from each group!

[code]

[2017-05-13 18:42] 2Cubed commented on #241
Hit 92% in #296. Done! :tada:

[2017-05-13 18:42] #241 closed, assigned to 2Cubed

[2017-05-16 01:49] RPiAwesomeness commented on #291
Made some minor progress towards this in the API: https://github.com/CactusDev/CactusAPI/commit/92a202743c08612ac0a4542f030170e5f714a63d

[2017-05-16 05:05] 2Cubed opened #304 "File logging command line parameter"
We should add a file logging command line parameter. Yay file logs!

 - Not including doesn't log to a file.
 - `--log` logs to the default file, `log.txt`.
 - `--log=test.txt` logs to the specified file, `test.txt.`.

[2017-05-16 16:14] Innectic opened #305 "Custom commands fail to respond when starting with a target"
If a custom command's response starts with something like %USER%, it will fail to respond.

[2017-05-17 01:44] 2Cubed commented on #305
Whoa, that's really weird, and bad... O.O

[2017-05-27 05:06] 2Cubed opened #306 "Whispers can be longer than the maximum message length limit"
Regular messages are limited to the maximum 360 characters. Whispers should be limited to 360, as well, but they aren't, which means that sometimes whispers just get "eaten".

[2017-05-27 05:47] 2Cubed commented on #306
Done in #307.

[2017-05-27 05:47] #306 closed, assigned to 2Cubed

[2017-05-27 05:58] 2Cubed opened #308 "Bot ignores rate limits"
The bot ignores rate limits, trying to send messages whenever they are received. This especially impacts responses that are split over multiple chat messages.

[2017-05-27 05:59] Innectic commented on #308
Important thing: Each service handler needs to implement this some how. Different services have different rate limits.

[2017-05-27 06:33] Alkali-Metal commented on #283
So, I was thinking about this, and I would that only having one layer-o'-recursion would be fine, anything beyond that would just be pointless and redundant in my opinion.
[code]
If that makes any sense.

And it should check to see if they are the same so that it can't do something like `%ARGS=%ARGS%%`

[2017-05-29 20:26] 2Cubed commented on #308
We should probably have a generalized ratelimit method somewhere in the `WebSocket` class, which can either be used or ignored by the individual services.

[2017-05-29 20:31] 2Cubed commented on #283
I would agree; having more than one layer doesn't really make sense.

The more I think about it, the more I think recursion might not be an issue... for example, with the response `%ARG1=%ARG2%% %ARG2=%ARG1%%`:
 - If no args, error message.
 - If only `%ARG1%` as `a`, response is `a a`.
 - If also `%ARG2%` as `b`, response is `a b`.

[2017-05-30 00:55] Innectic commented on #308
It shouldn't be able to be ignored. It should be required.

[2017-06-08 21:41] Alkali-Metal commented on #308
Maybe make it so that if a service rate limit isn't supplied by the handler (Or whatever would handle it) it then falls back to the default one and can't be bypassed?

[2017-07-17 01:25] Alkali-Metal opened #310 "Update From Beam to Mixer."
## What is the issue?
The bot's `!so` and `!shoutout` commands are still linking to Beam

## How do we reproduce this issue?
Use one of the commands on a remotely hosted bot. (Tested on multiple Alpha/Beta streamers' bot)
(Using one which was overwritten might lead to the correct link, but the default ones are still incorrect)

## Other Information:
Needs to be changed through the CactusBot API ac

[2017-07-17 01:29] 2Cubed commented on #310
This should have been solved by #309...

[2017-07-17 03:30] Alkali-Metal commented on #310
It wasn't. Just a heads up. (Can be visually seen [here](https://cactus.exoz.one/api/v1/user/cactus_bot/command))

[2017-07-17 04:07] Alkali-Metal commented on #310
Or... another solution would be to completely remove them and let the streamer decide if they want a shoutout command or not, when the bot was aimed fully at streamers, it would be fine to have a default shoutout command, but now that you are (at least) still ***planning*** on being a service agnostic bot. There might be places that don't need, or *want* a shoutout command. (IE: Discord, Slack, et

[2017-11-19 08:07] #300 closed, assigned to nobody

[2017-11-19 08:07] #299 closed, assigned to Innectic

[2017-12-10 08:28] #263 closed, assigned to nobody

[2017-12-10 08:29] #217 closed

[2017-12-10 08:29] 2Cubed commented on #248
Closed in favor of a standard CactusBot format.

[2017-12-10 08:29] #248 closed, assigned to nobody

[2017-12-10 08:29] #108 closed

[2017-12-10 08:30] #88 closed

[2017-12-10 08:30] #70 closed

[2017-12-10 08:30] 2Cubed commented on #62
No longer relevant.

[2017-12-10 08:30] #62 closed

[2017-12-10 08:31] #71 closed

[2017-12-10 08:33] #254 closed, assigned to 2Cubed

[2017-12-10 08:33] #255 closed, assigned to 2Cubed

[2017-12-10 08:34] #304 closed, assigned to 2Cubed

[2017-12-10 08:34] #64 closed

[2017-12-10 08:34] 2Cubed commented on #64
Issue moved to [CactusDev/Aerophyl #8](https://github.com/CactusDev/Aerophyl/issues/8) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-10 08:35] 2Cubed commented on #308
Issue moved to [CactusDev/Aerophyl #9](https://github.com/CactusDev/Aerophyl/issues/9) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-10 08:35] #308 closed, assigned to nobody

[2017-12-11 20:14] pylang commented on #62
How come?

[2018-12-18 00:09] eliotb opened #312 "docs: nav column title says "Python" rather than "CactusBot""
## A very minor problem on readthedocs

Here https://cactusbot.readthedocs.io/en/stable/contents.html#

The page title is "Python documentation" and the title at the top of the nav column is "Python".

They should say "CactusBot"

Its not obvious to me where this is set in the documentation files...

[2018-12-18 01:43] Innectic commented on #312
Hi! Thank you for reporting this to us!

At this time, we will be rewriting our entire documentation, as the bot is currently undergoing a rewrite.

We appreciate this being reported anyways :)

[2018-12-18 01:43] #312 closed, assigned to nobody

[2018-12-22 08:46] #305 closed, assigned to nobody